button, input[type=submit], .btn {
    display: inline-block;
    position: relative;
    border: 0;
    outline: none;
    cursor: pointer;
    padding: 0 $gutter;
    color: white;
    font-family: $heavy-font-family;
    text-align: center;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-touch-callout: none;
    @include user-select(none);
    &.disabled {
        background-color: #eaeaea !important;
        color: #a8a8a8 !important;
        box-shadow: none !important;
        cursor: auto;
    }
}
button.flat, .btn.flat {
    border-radius: 2px;
    min-width: rem(88);
    height: $button-height;
    line-height: $button-height;
    will-change: background-color;
    background-color: $flat-button;
    @include transition(background-color 350ms $ease-out-quint);
    &:hover {
        background-color: lighten($flat-button, 3);
        &.accent {
            background-color: lighten($accent-color, 3);
        }
        &.primary {
            background-color: lighten($primary-color, 3);
        }
    }
    &:active {
        background-color: darken($flat-button, 10);
        &.accent {
            background-color: darken($accent-color, 10);
        }
        &.primary {
            background-color: darken($primary-color, 10);
        }
    }
}
button.raised, .btn.raised, input[type=submit] {
    box-shadow: $shadow-depth-1;
    border-radius: 3px;
    min-width: rem(160);
    height: $button-height;
    line-height: $button-height;
    margin: 0 auto;
    display: block;
    background: $primary-color;
    will-change: background-color, box-shadow;
    @include transition(box-shadow 350ms cubic-bezier(0.4, 0, 0.2, 1), background-color 350ms cubic-bezier(0.4, 0, 0.2, 1));
    &.accent {
        background: $accent-color;
    }
    &:hover {
        background-color: lighten($primary-color, 5);
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4);
        &.accent {
            background-color: lighten($accent-color, 5);
        }
    }
    &:active {
        background-color: darken($primary-color, 10);
        &.accent {
            background-color: darken($accent-color, 10);
        }
    }
}
