select {
    outline: 0;
    border: 0;
    padding: 0;
    border-bottom: 1px solid $accent-color;
    height: rem(64);
    width: 100%;
    display: block;
    cursor: pointer;
    font-size: rem(26);
    font-family: $body-font-family;
    background-color: white;
}

label.select-icon {
    display: block;
    position: relative;
    padding: 0;
    &:after {
        content: "v";
        display: block;
        background-color: white;
        width: 60px;
        border-bottom: 1px solid $accent-color;
        font-size: rem(32);
        text-align: center;
        padding-top: rem(16);
        pointer-events:none;
        @include position(absolute, 0 0 0 n);
    }
}

label {
    cursor: pointer;
}

$checkbox-color: $primary-color;
input[type="checkbox"] {
    display: none;
}
input[type="checkbox"] + label.checkbox {
    height: rem(32);
    width: rem(32);
    display: inline-block;
    position: relative;
    background-color: white;
    border: 1px solid $light-grey;
    &:hover {
        background-color: returnlightershade($checkbox-color);
    }
}
input[type="checkbox"] + label.checkbox:before {
    content: "";
    background-color: $checkbox-color;
    will-change: transform;
    @include transform(scale(0));
    @include transition(transform 150ms $ease-out-quint, border-radius 150ms $ease-out-quint);
    @include position(absolute, 0 0 0 0);
}
input[type="checkbox"] + label.checkbox:before, input[type="checkbox"] + label.checkbox {
    border-radius: 2px;
}
input[type="checkbox"]:checked + label:before {
    // border-radius: 3px;
    @include transform(none);
}