// Columns
$colwdths-lrg: 4, 5, 6, 7, 8;
$colwdths-sml: 12;

    @each $width in $colwdths-lrg {
        .lrg-#{$width} {
            @include span-columns($width);
        }
    }

@media #{$small-all} {
@each $width in $colwdths-sml {
    .sml-#{$width} {
        @include span-columns($width);
    }
}
}

// Item Grid
$single-item-width: rem(460);

.grid {
    @include clearfix;
    @include display(flex);
    @include flex-wrap(wrap);
    @include justify-content(center);
}

.grid-item {
    // padding: $gutter;
    @include flex(1);
}

// .single-flex {
//     @include flex-grow(1);
//     @include flex-shrink(1);
//     @include flex-basis($single-item-width);
// }

// .double-flex {
//     @include flex-grow(2);
//     @include flex-shrink(2);
//     @include flex-basis($single-item-width * 2);
// }