@media #{$medium-down} {
    i.scale-takeover-trigger.round-icon {
        display: none;
    }

    .scale-takeover {
        height: $header-height;
        position: fixed;
        top: 0;
        left: 0;
        background-color: $black;
        z-index: 1;
        @include transform(translateZ(0));
    }
    .scale-takeover p {
        display: none;
    }
    .scale-takeover a {
        line-height: $header-height;
        color: white;
        font-size: rem(17);
        &:not(:last-child) {
            margin-right: 2 * $gutter;
        }
        span:first-of-type {
            display: none;
        }
    }
    .scale-takeover .page-wrap {
        @media #{$small-all} {
            @include display(flex);
            a {
                margin: 0;
                text-indent: -99999px;
                background-position: center center;
                background-repeat: no-repeat;
                background-size: 32px;
                background-color: $black !important;
                @include flex(1);
                &.home {
                    @include icon-home-wh;
                }
                &.work {
                    @include icon-work-wh;
                }
                &.medium {
                    @include icon-medium;
                }
                &.twitter {
                    @include icon-twitter;
                }
                &.linkedin {
                    @include icon-linkedin-wh;
                }
            }
        }
    }
}

@media #{$large-up} {
    .scale-takeover {
        position: fixed;
        top: 0;
        left: 0;
        z-index: 999;
        background-color: $primary-color;
        opacity: 0;
        @include transform(scale(0) translateZ(0));
        @include transform-origin(left top);
    }
    .scale-takeover.active {
        opacity: 1;
        -webkit-transition: transform 550ms $ease-out-quint, opacity 150ms;
        transition: transform 550ms $ease-out-quint, opacity 150ms;
        @include transform(scale(1) translateZ(0));
    }


    i.scale-takeover-trigger.round-icon {
        display: inline-block;
        position: fixed;
        top: 2 * $gutter;
        left: 2 * $gutter;
        z-index: 1000;
        -webkit-transition: background-color 150ms, transform 250ms, background-position 150ms;
        transition: background-color 150ms, transform 250ms, background-position 150ms;
        @include transform(translateZ(0));
        @include black-icon-states;
        &:hover {
            @include transform(scale(1.1) translateZ(0));
        }
        &:active {
            @include transform(scale(1.3) translateZ(0));
        }
        span {
            color: white;
        }
    }

    .scale-takeover.active + i.scale-takeover-trigger.round-icon {
        box-shadow: none;
        background-position: 20px 22px;
        background-image: url("#{$image-url}icons/clear-wh.svg");
        position: fixed;
        @include transform(scale(2) translateZ(0));
        @include transform-origin(right bottom);
        span {
            display: none;
        }
    }

    .scale-takeover a, .scale-takeover p {
        display: block;
    }
    .scale-takeover p {
        opacity: 0.7;
    }
    .scale-takeover a {
        &:hover {
            text-decoration: underline;
        }
        span + span {
            display: none;
        }
    }
    .scale-takeover .page-wrap {
        @include scut-center-transform;
        a:first-of-type {
            margin-top: 0;
        }
    }
}