{% extends "../layouts/base.html" %} {% block content %}

<aside class="navigation--hero --fixed">
    {% include "../includes/about/about.master.html" %}
</aside>

{% include "../includes/splash/splash.hero.html" %}

{% include "../includes/splash/splash.header.active.html" %}

{% include "../includes/activities/activities.master.html" %}

{% include "../includes/splash/splash.header.made.html" %}

{% include "../includes/work/work.master.html" %}


<article id="work-overlay" class="overlay --fixed">
    <h2 class="work-overlay__title"></h2>
    <section class="work-overlay__body"></section>
    <span class="overlay__close" data-history-backwards>Close</span>
</article>


{% endblock %} {% block extrajs %}
<!-- Template specific <script> tags should go here -->
{% endblock %}
