{% extends "../layouts/base.html" %} {% block content %}

<aside class="navigation">
    <!-- TODO : stlyed scrollbars -->
    <div class="navigation__content">
        <p><strong>I'm Max.</strong> I'm a content marketer, web developer and thinker about things on the internet from London.
            <br>My interests include statistics that help us understand the web, using motion in my UI design, and implementing search and SEO best practices.</p>
        <br>
        <ul>
            <li>
                <p>Connect with me on <a target="_blank" href="https://twitter.com/mxbrry">Twitter</a>, <a target="_blank" href="https://uk.linkedin.com/in/maxbarry">LinkedIn</a> or <a href="mailto:max@mxbry.com">email me</a> directly, because <strong>I'd really like to talk</strong></p>
            </li>
            <li>
                <p>This is my <strong>2016 CV</strong>, which I'm happy to <a href="mailto:max@mxbry.com">talk you through!</a></p>
                <!-- TODO: Make the year js enabled -->
            </li>
            <li>
                <p>I've been <strong>writing</strong> about the web quasi-regularly for 2 years now at <a href="http://words.mxbry.com">words.mxbry.com</a></p>
                <br>
            </li>
            <li>
                <p>I'm always looking for contract work, remote or otherwise. What's a problem you've been struggling with recently?</p>
                {% include '../includes/forms/_mailchimp.html' %}
            </li>
        </ul>
    </div>
    <img src="/img/me.jpeg" alt="" class="navigation__content">
</aside>

<article class="splash --hero clearfix">

    {% include "../includes/splash/splash.made.html" %}
    {% include "../includes/splash/splash.active.html" %}
    {% include "../includes/splash/splash.xo.html" %}

</article>

<article id="activity-heading" class="splash --header clearfix">
    {% set solo=true %}
    {% include "../includes/splash/splash.active.html" %}
    {% set solo=false %}
</article>

<article id="activity" class="activities clearfix"></article>

<article id="made-heading" class="splash --header clearfix">
    {% include "../includes/splash/splash.made.html" %}
</article>

<article id="work" class="work clearfix"></article>

<!-- <article id="work-overlay" class="overlay --fixed">
    OVERLAY
</article> -->


{% endblock %} {% block extrajs %}
<!-- Template specific <script> tags should go here -->
{% endblock %}
