{% extends "../layouts/base.html" %} {% block content %}

<aside class="navigation">
    <!-- TODO : stlyed scrollbars -->
    <div class="navigation__content">
        <p><strong>I'm Max.</strong> I'm a content marketer, web developer and thinker about things on the internet from London.
            <br>My interests include statistics that help us understand the web, using motion in my UI design, and implementing search and SEO best practices.</p>
        <br>
        <ul>
            <li>
                <p>Connect with me on <a target="_blank" href="https://twitter.com/mxbrry">Twitter</a>, <a target="_blank" href="https://uk.linkedin.com/in/maxbarry">LinkedIn</a> or <a href="mailto:max@mxbry.com">email me</a> directly, because <strong>I'd really like to talk</strong></p>
            </li>
            <li>
                <p>This is my <strong>2016 CV</strong>, which I'm happy to <a href="mailto:max@mxbry.com">talk you through!</a></p>
                <!-- TODO: Make the year js enabled -->
            </li>
            <li>
                <p>I've been <strong>writing</strong> about the web quasi-regularly for 2 years now at <a href="http://words.mxbry.com">words.mxbry.com</a></p>
                <br>
            </li>
            <li>
                <p>I'm always looking for contract work, remote or otherwise. What's a problem you've been struggling with recently?</p>
                {% include '../includes/forms/_mailchimp.html' %}
            </li>
        </ul>
    </div>
    <img src="/img/me.jpeg" alt="" class="navigation__content">
</aside>

<article class="splash --hero clearfix">

    {% include "../includes/splash/splash.made.html" %}
    {% include "../includes/splash/splash.active.html" %}
    {% include "../includes/splash/splash.xo.html" %}

</article>

<article id="activity-heading" class="splash --header clearfix">
    {% set solo=true %}
    {% include "../includes/splash/splash.active.html" %}
    {% set solo=false %}
</article>

<article id="activity" class="activities clearfix section"></article>

<article id="made-heading" class="splash --header clearfix">
    {% include "../includes/splash/splash.made.html" %}
</article>

<article id="work" class="work clearfix section">
    <h1>Work</h1> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quis aliquam cupiditate laudantium debitis. At, aut dolor eaque rem ipsam inventore eum officiis fuga. Quas quis, sed eius veniam error. Fugiat, nobis quas accusamus natus deleniti eveniet
    ipsam earum sed aliquid, omnis consequatur eum perferendis non nisi aliquam possimus vitae? Officiis aut voluptatibus voluptate, nisi voluptas sunt consequatur vel deleniti corporis a blanditiis voluptatem expedita, molestias architecto natus cupiditate,
    saepe eos animi similique culpa dicta ipsam laboriosam earum. Doloremque rerum, iste assumenda ratione sequi recusandae molestiae culpa sint unde voluptas perspiciatis ipsam mollitia similique cupiditate quos, totam architecto. Cumque neque pariatur
    at quos molestias suscipit animi eos et accusantium incidunt repellat beatae veritatis temporibus inventore quaerat modi culpa ad cupiditate, minus voluptates, voluptatum praesentium. Ipsam quod non et perferendis earum eos asperiores magnam expedita
    modi minima amet aperiam vel fugit molestiae repellat quo ut nulla iste dolore molestias, repudiandae officia! Tempore soluta asperiores facere optio ipsum repudiandae magnam sapiente sint magni totam ad deserunt cumque, natus quis suscipit minima
    tempora rerum, iste id quaerat. Quos ex nam facere, sit, tempore blanditiis nostrum itaque doloribus, hic architecto amet nisi dolorum dolorem corporis iste distinctio aliquam minima. At, nostrum laudantium nobis sapiente recusandae consequatur sequi
    earum suscipit excepturi sunt error dolorum dolorem in dolores rerum veritatis, quas. Minima est soluta nisi modi officiis corrupti unde ex aperiam praesentium mollitia nobis recusandae eum necessitatibus ipsum dolorem dolorum fugiat reprehenderit
    nulla quisquam sapiente, sequi a. Velit, eos, atque. Porro provident voluptates beatae laboriosam sapiente velit voluptate fugit nihil eligendi, commodi, non animi alias cumque repellendus expedita modi asperiores. Id quam, nobis, libero nesciunt
    necessitatibus quod blanditiis voluptas, est dolorem fugit in. Tempore sit, quae eaque odit corporis soluta ducimus error porro, nam. A doloribus quod minima iure accusamus, dolorum impedit quia vero distinctio? Ullam reprehenderit adipisci laudantium
    earum inventore sint deleniti exercitationem mollitia consectetur saepe aliquid minima, optio aperiam fuga unde ratione provident magnam possimus obcaecati. Doloribus deleniti aspernatur possimus eos accusamus eligendi ad nulla illo doloremque aliquid
    molestias dolore, recusandae mollitia aut, suscipit nesciunt. Esse in harum vel error, officiis, delectus dignissimos nostrum tempore quasi pariatur ipsum atque earum optio repellat dolore totam at aliquam corporis laborum, mollitia suscipit. Officiis
    voluptate sequi ullam maxime, porro debitis aperiam quasi asperiores iure eos optio, culpa dicta dignissimos dolorum eligendi quo numquam dolorem incidunt, modi molestiae ipsum. Hic molestias vero temporibus expedita quae possimus nisi voluptate delectus
    aliquid doloribus! Officia iste nemo non blanditiis unde quia pariatur, quo incidunt, ex est atque! Modi voluptatibus ab minus quod reprehenderit commodi odit, cum esse aliquam animi perspiciatis veniam nobis iste reiciendis sapiente praesentium possimus.
    Animi amet doloremque provident maiores vel, alias nesciunt commodi dolore expedita. Repellendus autem debitis numquam impedit dolore quis necessitatibus ullam eaque, saepe itaque. Rerum ducimus, quis, voluptas adipisci quasi quaerat excepturi ipsa
    possimus quia odit, laboriosam vel sit veniam nostrum aliquid mollitia nobis. Vero a sapiente aperiam debitis, libero, quaerat modi quis ratione, vitae adipisci necessitatibus molestias aliquid at? Nostrum, voluptatibus, sunt quod perspiciatis, maxime
    odio quibusdam ipsum id dignissimos, ipsa expedita voluptatum inventore corrupti atque architecto fugiat. Praesentium quo necessitatibus quibusdam, harum ducimus aliquam totam delectus vitae non id, inventore facilis cum, dolorem provident vel sapiente
    doloribus? Labore qui facere unde ea, at deserunt minus? Maiores in iure illo optio, pariatur? Ex, ipsam, soluta. Qui dicta dolorem, pariatur. Inventore possimus, minus error dignissimos dolore aut quas quia, natus reprehenderit ea eaque eveniet cupiditate
    odio porro architecto. Corporis minus laudantium delectus, quae voluptatibus tempore necessitatibus dolore ipsum, ab perspiciatis. Odit tempora suscipit, corporis, ea, perferendis quas fugiat vitae repellat velit maiores eveniet. Ad corporis asperiores
    inventore excepturi. Iste veniam mollitia nulla cum, consequatur ratione eos veritatis temporibus obcaecati officia ex. Adipisci hic minima iure consectetur, magnam perspiciatis aliquam. Corporis fugit, dolore eos ut minus, dolores! In sapiente autem
    facilis animi, laudantium neque quia quis commodi numquam odit totam, sed quidem quibusdam minima. Distinctio quam ullam facilis explicabo voluptates a nostrum similique maiores, totam libero tenetur, adipisci, tempora sint! Quo cum placeat dolorum
    reiciendis, officia dignissimos sint deserunt libero, optio, similique quas. Impedit harum temporibus, aliquam incidunt, expedita modi aspernatur dolor quis quo qui, tempora facere cum numquam quos assumenda minima dolorem adipisci. Voluptatum ab
    voluptatem ullam dolorem dignissimos quibusdam impedit sit numquam similique aliquid porro explicabo, veritatis quia culpa neque aperiam excepturi earum corporis ea, sequi. Recusandae exercitationem sapiente dolores labore deserunt quisquam animi
    nisi, at in ea, temporibus assumenda voluptatibus libero saepe delectus ab sint! Iste ad similique nam magni reprehenderit, obcaecati aut tempora quaerat fuga pariatur! Ea non alias quasi, officia libero molestiae ipsum mollitia, necessitatibus totam
    earum, vitae minus nesciunt rerum vero debitis magni corporis. Veniam labore qui tempora porro facere quod itaque deleniti rem beatae, officia. Ad dolor quas quae, beatae quis reiciendis perspiciatis aut aspernatur cumque officia velit expedita rem
    laudantium, doloremque natus magnam nam iste, explicabo assumenda amet itaque ut perferendis. Iusto eius, eveniet mollitia rerum sed porro dolore sequi facilis cumque doloribus aliquam, tenetur quas, minima ducimus numquam aut suscipit aspernatur
    est. Aut quia molestias atque iure deleniti sunt assumenda architecto sequi ducimus dolor vero, hic omnis cumque natus nam expedita fugiat mollitia quasi laudantium eum soluta. Neque libero quidem sint temporibus optio facere sed nihil totam molestias
    quod, consectetur soluta earum voluptas quos, deserunt id veniam quisquam. Officia nesciunt iste necessitatibus iusto, aut, pariatur dolores distinctio eveniet odio at sed aliquid natus voluptates similique nisi corporis ducimus nostrum a alias nemo?
    Delectus placeat aliquam, accusantium. Odio provident rerum optio alias magnam praesentium necessitatibus qui perspiciatis obcaecati atque consectetur vero reprehenderit, minima ad doloribus nobis, aliquid! Natus quod tempore distinctio minima vel
    rem dicta pariatur quos! Vitae excepturi nesciunt provident, ea mollitia asperiores, dolore nobis accusamus quae vero repellendus itaque. Temporibus sit neque odit architecto soluta officiis suscipit minima iste, voluptatum assumenda cumque impedit
    iure, quam, nisi magni ab porro a non ea nihil perferendis ratione placeat. Quisquam rem, quo voluptas similique optio mollitia id at sit ipsa impedit iusto, dicta exercitationem adipisci quis cum cumque distinctio itaque praesentium repellendus repudiandae
    laborum architecto? Quaerat officiis numquam facilis tempora impedit reiciendis illum tenetur eos, corrupti error, perferendis delectus inventore unde consequuntur, voluptatibus earum doloremque nemo molestias deserunt id et suscipit rerum? Officiis
    consectetur quis adipisci at. Exercitationem iste repudiandae dolorem, quibusdam deserunt. Totam vero eius nostrum at placeat labore non iusto deserunt doloremque odit explicabo saepe libero molestiae blanditiis et, ipsa mollitia voluptatibus odio
    quae reiciendis minima laudantium quo minus. Soluta facilis ullam voluptatibus iste tempore architecto excepturi. Placeat id voluptatum recusandae excepturi sunt molestias, debitis eum atque omnis aperiam assumenda minima itaque aut non impedit minus
    voluptates porro sint architecto corporis nobis dolorem perspiciatis cupiditate. Aliquid quidem laborum architecto deleniti cumque asperiores temporibus eos blanditiis dolore eum animi inventore reprehenderit nam libero repudiandae velit aut atque
    iusto minus totam vitae maiores quaerat illo, porro quo! Fugiat reiciendis fugit, quis nostrum quam rerum maiores iusto assumenda veniam nam iure reprehenderit ut qui excepturi repellendus vero magnam quae, placeat atque, nemo, tempora! Tempore itaque
    maiores cumque rem error, blanditiis, iure neque aperiam iste inventore quo quam a commodi sequi autem deleniti minima. Cum voluptatum quos tempore non dicta nihil dolores molestias, dolor adipisci, obcaecati laudantium debitis unde provident mollitia
    itaque suscipit perspiciatis recusandae totam quo harum. Delectus vitae maiores quidem non temporibus, incidunt neque magni eaque consequatur ullam eligendi, quos quasi sit odit expedita totam nam maxime fuga accusamus adipisci aut ratione? Consequuntur
    optio enim, expedita sed dicta esse laborum ipsum at deserunt dolores cum quaerat, quia eaque doloribus voluptate ratione illo facilis inventore commodi. Quas odio veniam aliquid cum aspernatur, voluptate illum. Consectetur vitae libero quidem quaerat
    dolor voluptatem optio nihil aperiam ipsam ut ex fugiat architecto hic, assumenda iusto, quibusdam provident nostrum quasi totam laborum! Itaque ratione nesciunt rem reiciendis impedit, dolore eveniet voluptatum aperiam voluptas necessitatibus incidunt
    cum nihil in, aliquam, earum quisquam possimus amet accusamus explicabo. Laboriosam quam error quae asperiores debitis. Officiis dolores harum nisi rem veritatis voluptatibus hic tempore, eum ullam asperiores ab consequuntur illo vero fugiat aut ipsum
    aliquid recusandae amet. Voluptatum tenetur laboriosam consectetur. Aut optio doloremque voluptate consectetur dolore accusamus vero obcaecati dicta nihil, officiis eum ipsam minima harum aliquid sint. Beatae nihil perspiciatis sequi suscipit iure
    ipsum corrupti, quisquam assumenda quibusdam, cumque libero minima quam dolore inventore odit sunt cupiditate doloremque. Mollitia ab quod eligendi iste consequuntur nam pariatur perspiciatis maxime voluptatibus suscipit eum voluptatum vero recusandae
    qui tempora, officia eaque? At quibusdam autem animi voluptatibus beatae consequatur impedit molestiae perferendis quidem non modi eum, a incidunt voluptatem nihil, pariatur quae. Eaque, aliquam accusamus sequi dolor cum necessitatibus quasi vel officia
    veniam sed eius quia omnis deserunt deleniti harum fuga, dicta molestias accusantium odio minus tempora ipsa maiores. Deleniti, optio. Doloremque totam necessitatibus, modi soluta fuga quibusdam ducimus obcaecati corporis architecto quam culpa harum
    fugiat iste sequi asperiores molestiae magni ea provident, maiores repellendus. Iste aliquid ad necessitatibus nisi facilis cum praesentium voluptatum voluptate ut pariatur in repellat harum illo voluptas voluptatibus, ducimus quo dolorem, veritatis?
    Tenetur dolore libero ex.
</article>

{% endblock %} {% block extrajs %}
<!-- Template specific <script> tags should go here -->
{% endblock %}
