header {
    width: 100%;
    height: $header-height;
    background-color: $black;
    position: relative;
    text-align: center;
    .header-2 {
        margin: 0;
        color: white;
        line-height: rem(64);
        a {
            color: white;
            &:hover {
                text-decoration: none;
                color: $mild-grey;
            }
        }
        // @include scut-center-transform(y);
    }
}