.header-1.page-wrap.tiny {
    margin-top: $section-break;
    text-align: center;
}

.header-4.page-wrap.xtiny {
    margin-bottom: $section-break;
    @media #{$small-all} {
        margin-bottom: 2 * $gutter;
    }
}

.hp-activities {
    position: relative;
    margin-top: $section-break;
    @media #{$medium-up} {
        min-height: rem(465);
    }
    .loader {
        position: absolute;
        left: 0;
        right: 0;
    }
}

.hp-activities.cat-view {
    max-width: $slim;
}

.hp-ctas {
    margin-top: $section-break;
    hr, p {
        margin-bottom: $section-break;
    }
    p {
        text-align: center;
        font-size: rem(18);
    }
}

.hp-takeover-trigger i {
    display: inline-block;
    position: absolute;
    cursor: pointer;
    top: 2 * $gutter;
    left: 2 * $gutter;
    box-shadow: $shadow-depth-1;
    z-index: 1000;
    @include transition(background-color 150ms, transform 250ms, background-position 150ms);
    &:hover {
        @include transform(scale(1.1));
        background-color: lighten($black, 10);
    }
    &:active {
        @include transform(scale(1.3));
        background-color: darken($black, 10);
    }
}

.scale-takeover.active + .hp-takeover-trigger i {
    box-shadow: none;
    // background-color: $error-color;
    background-position: 20px 22px;
    background-image: url("#{$image-url}icons/clear-wh.svg");
    position: fixed;
    @include transform(scale(2));
    @include transform-origin(right bottom);
}

.hp-aside a, .hp-aside p {
    color: $black;
}

.hp-aside p {
    opacity: 0.7;
}
.hp-aside .page-wrap {
    @include scut-center-transform;
    h3:first-of-type {
        margin-top: 0;
    }
}

// .hp-ctas button{
//     opacity: 0;
//     cursor: default;
//     will-change: background-color, box-shadow, opacity, transform;
//     &.grow-in {
//         cursor: pointer;
//     }
// }