.hp-activities {
    position: relative;
    margin-top: $section-break;
    @media #{$medium-up} {
        min-height: rem(465);
    }
    .loader {
        position: absolute;
        left: 0;
        right: 0;
    }
}

.hp-activities.cat-view {
    max-width: $slim !important;
}

.hp-ctas {
    margin-top: $section-break;
    hr, p {
        margin-bottom: $section-break;
    }
    p {
        text-align: center;
        font-size: rem(18);
        a {
            font-size: rem(16); 
        }
    }
}
