/**
Overview lister
*/
.overview-lister {
    @include transition(opacity 350ms);
}
@media #{$large-up} {
    .overview-lister article {
        margin-bottom: 3 * $gutter;
        // margin: 0 3 * $gutter 3 * $gutter 3 * $gutter;
        @include span-columns(4);
        @include omega(3n);
    }
}
.overview-article-content {
    margin: 0 auto;
    text-align: center;
    padding: $gutter;
    position: relative;
    button {
        display: none;
    }
    @media #{$medium-only} {
        background-image: none !important;
    }
    @media #{$small-all} {
        background-image: none !important;
    }
    @media #{$large-up} {
        padding: rem(56) rem(32);
        $item-width: rem(360);
        min-height: $item-width;
        width: $item-width;
        border-radius: 50%;
        background-size: cover;
        background-position: center center;
        border: 1px solid $flat-button;
        h2 {
            padding-left: rem(26);
            padding-right: rem(26);
        }
        button {
            margin-top: 4 * $gutter;
            display: inline-block;
            &:not(:active) {
                color: $black;
            }
            &:first-of-type {
                margin-right: 0.5 * $gutter;
            }
            &:last-of-type {
                margin-left: 0.5 * $gutter;
            }
        }
        &[style] {
            color: white;
            h2 {
                text-shadow: 2px 2px 2px black;
            }
            &:before {
                content: "";
                background-color: rgba(46, 46, 46, 0.35);
                border-radius: 50%;
                @include position(absolute, 0 0 0 0);
            }
        }
    }
    p, h2 {
        margin: 0 auto;
        position: relative;
    }
    p {
        margin-top: $gutter;
    }
}


@media #{$medium-only} {
    .overview-lister {
        max-width: rem(640);
        article {
            &:nth-child(odd) .overview-article-content {
                background-color: $mild-grey;
            }
            &:nth-child(even) .overview-article-content {
                background-color: returnlightershade($accent-color);
            }
        }
    }
    .overview-article-content {
        box-shadow: none;
        &:active, &:focus, &:hover {
            background-color: red;
        } 
    }
}

/**
Overview filter
*/
@media #{$medium-only} {
    .overview-filter {
        @include bottom-sheet;
        padding-top: 4 * $gutter;
        * {
            @include user-select(none);
        }
    }
    .overview-filter-interior {
        margin: 0 auto;
        max-width: $slim;
    }
    .overview-filter-interior li {
        // &:first-child {
        //     margin-bottom: 2 * $gutter;
        // }
        // &:not(:first-child) {
        margin-right: 2 * $gutter;
        margin-bottom: $gutter;
        display: inline-block;
        // }
        label.checkbox {
            border: 1px solid $black;
            margin-right: $gutter;
        }
        label.checkbox + label {
            top: -5px;
            position: relative;
        }
    }
}

@media #{$large-up} {
    .overview-filter-interior, .overview-filter {
        width: 25vw;
        z-index: 9999;
        @include position(fixed, 0 0 0 auto);
    }

    .overview-filter-interior {
        background-color: $black;
        box-shadow: 4px 0px 3px rgb(16, 16, 16) inset;
        margin: 0;
        padding: 12 * $gutter 4 * $gutter;
        will-change: transform;
        @include transform(translateX(100%));
        @include transition(transform 350ms $ease-out-quint);
    }

    .overview-filter:hover .overview-filter-interior {
        @include transform(none);
    }

    .overview-filter:hover ~ .overview-lister {
        opacity: 0.3;
    }

    .overview-filter:hover .overview-filter-interior li {
        &:not(:last-of-type) {
            margin-bottom: 2 * $gutter;
        }
        // &:first-of-type {
        //     margin-bottom: 4 * $gutter;
        // }
    }

    .overview-filter-interior label.checkbox {
        float: left;
        margin-right: 2 * $gutter;
    }
    .overview-filter-interior label.checkbox + label {
        line-height: rem(32);
        color: white;
    }
}
