/**
Overview lister
*/
.overview-lister {
    @include transition(opacity 350ms);
}
@media #{$large-up} {
    .overview-lister article {
        margin-bottom: 3 * $gutter;
        @include span-columns(4);
        @include omega(3n);
    }
}
@media #{$small-all} {
    .overview-lister article:nth-child(odd) .overview-article-content {
        background-color: $primary-color;
   }
    .overview-lister article:nth-child(even) .overview-article-content {
        color: white;
   }
    .overview-article-content{
        box-shadow: none;
        background-image: none !important;
        .btn {
            display: none;
        }
    }
}
@media #{$medium-only} {
    .overview-lister {
        max-width: rem(640);
    }
    .overview-lister article:nth-child(odd) .overview-article-content {
        background-color: $neutral;
        .btn {
            border: 1px solid $black;
        }
    }
    .overview-lister article:nth-child(even) .overview-article-content {
        color: white;
    }
    .center.overview-article-content{
        box-shadow: none;
        background-image: none !important;
        text-align: left;
        margin-bottom: $gutter;
        .btn {
            margin-top: 2*$gutter;
            margin-right: $gutter;
        }
    }
}
.overview-article-content {
    text-align: center;
    padding: $gutter;
    position: relative;
    background-color: $black;
    p, h2 {
        margin-top: 0;
        margin-bottom: 0;
        position: relative;
    }
    p {
        margin-top: $gutter;
        line-height: 1.5;
    }
    h2 a {
        color: white;
        &:hover {
            color: white;
        }
    }
    @media #{$large-up} {
        $item-width: rem(360);
        height: $item-width;
        width: $item-width;
        padding: rem(56) rem(32);
        color: white;
        border-radius: 50%;
        &:not([style]) {
            border: 1px solid $flat-button;
        }
        h2 {
            max-width: rem(210);
            padding-left: rem(5);
            padding-right: rem(5);
        }
        .btn {
            margin-top: 4 * $gutter;
            display: inline-block;
            &:first-of-type {
                margin-right: 0.5 * $gutter;
            }
            &:last-of-type {
                margin-left: 0.5 * $gutter;
            }
        }
        &[style] {
            background-size: cover;
            background-position: center center;
            h2 {
                display: inline-block;
                background-color: $primary-color;
            }
            &:before {
                content: "";
                background-color: rgba(46, 46, 46, 0.35);
                border-radius: 50%;
                @include position(absolute, 0 0 0 0);
            }
        }
    }
}


/**
Overview filter
*/

.overview-controls {
    display: none;
}

.overview-filter label.select-icon {
    margin-top: 0;
}

@media #{$medium-only} {
    .overview-sheet-trigger {
        @include position(fixed, n 3*$gutter 3*$gutter n);
    }
}
@media #{$small-all} {
    .overview-sheet-trigger {
        @include position(fixed, n 2*$gutter 2*$gutter n);
    }
}

@media #{$large-up} {
    .overview-filter, .bottom-sheet-trigger.round-icon {
        display: none;
    }
    .overview-controls {
        display: block;
    }
    .overview-controls li {
        display: inline-block;
        font-size: rem(16);
        margin-right: $gutter;
        margin-bottom: $gutter;
        padding: rem(5) rem(5) 1px rem(5);
        &:hover:not(.active) {
            text-decoration: underline;
            cursor: pointer;
        }
        &.active {
            cursor: default;
            background-color: $neutral;
        }
    }
}
