/**
Overview lister
*/
.overview-lister {
    @include transition(opacity 350ms);
}
@media #{$large-up} {
    .overview-lister article {
        margin-bottom: 3 * $gutter;
        // margin: 0 3 * $gutter 3 * $gutter 3 * $gutter;
        @include span-columns(4);
        @include omega(3n);
    }
}
@media #{$small-all} {
    .overview-lister article:nth-child(odd) .overview-article-content {
        background-color: $primary-color;
   }
    .overview-lister article:nth-child(even) .overview-article-content {
        color: white;
   }
    .overview-article-content{
        box-shadow: none;
        background-image: none !important;
        button {
            display: none;
        }
    }
}
@media #{$medium-only} {
    .overview-lister {
        max-width: rem(640);
    }
    .overview-lister article:nth-child(odd) .overview-article-content {
        background-color: $neutral;
        button {
            border: 1px solid $black;
        }
    }
    .overview-lister article:nth-child(even) .overview-article-content {
        color: white;
    }
    .center.overview-article-content{
        box-shadow: none;
        background-image: none !important;
        text-align: left;
        margin-bottom: $gutter;
        // &:after {
        //     content: "";
        //     position: absolute;
        //     top: 0;
        //     bottom: 0;
        //     right: 0;
        //     display: block;
        //     border-right: 2px solid $primary-color;
        // }
        button {
            margin-top: 2*$gutter;
            margin-right: $gutter;
        }
    }
}
.overview-article-content {
    text-align: center;
    padding: $gutter;
    position: relative;
    background-color: $black;
    p, h2 {
        // margin: 0 auto;
        margin-top: 0;
        margin-bottom: 0;
        position: relative;
    }
    p {
        margin-top: $gutter;
    }
    @media #{$large-up} {
        $item-width: rem(360);
        height: $item-width;
        width: $item-width;
        padding: rem(56) rem(32);
        color: white;
        border-radius: 50%;
        &:not([style]) {
            border: 1px solid $flat-button;
        }
        h2 {
            max-width: rem(210);
            padding-left: rem(5);
            padding-right: rem(5);
        }
        button {
            margin-top: 4 * $gutter;
            display: inline-block;
            // color: $black;
            // &:not(:active) {
            //     color: $black;
            // }
            &:first-of-type {
                margin-right: 0.5 * $gutter;
            }
            &:last-of-type {
                margin-left: 0.5 * $gutter;
            }
        }
        &[style] {
            // color: white;
            background-size: cover;
            background-position: center center;
            h2 {
                // text-shadow: 2px 2px 2px black;
                display: inline-block;
                background-color: $primary-color;
            }
            &:before {
                content: "";
                background-color: rgba(46, 46, 46, 0.35);
                border-radius: 50%;
                @include position(absolute, 0 0 0 0);
            }
        }
    }
}


/**
Overview filter
*/

.overview-controls {
    display: none;
}

.overview-filter label.select-icon {
    margin-top: 0;
}

@media #{$medium-only} {
    .overview-sheet-trigger {
        @include position(fixed, n 3*$gutter 3*$gutter n);
    }
}
@media #{$small-all} {
    .overview-sheet-trigger {
        @include position(fixed, n 2*$gutter 2*$gutter n);
    }
}
// @media #{$medium-only} {
//     .overview-filter {
//         // @include bottom-sheet;
//         padding-top: 4 * $gutter;
//         * {
//             @include user-select(none);
//         }
//     }
//     .overview-filter-interior {
//         margin: 0 auto;
//         max-width: $slim;
//     }
//     .overview-filter-interior li {
//         // &:first-child {
//         //     margin-bottom: 2 * $gutter;
//         // }
//         // &:not(:first-child) {
//         margin-right: 2 * $gutter;
//         margin-bottom: $gutter;
//         display: inline-block;
//         // }
//         label.checkbox {
//             border: 1px solid $black;
//             margin-right: $gutter;
//         }
//         label.checkbox + label {
//             top: -5px;
//             position: relative;
//         }
//     }
// }

@media #{$large-up} {
    .overview-filter, .bottom-sheet-trigger.round-icon {
        display: none;
    }
    .overview-controls {
        display: block;
    }
    .overview-controls li {
        display: inline-block;
        font-size: rem(16);
        margin-right: $gutter;
        margin-bottom: $gutter;
        padding: rem(5);
        &:hover:not(.active) {
            text-decoration: underline;
            cursor: pointer;
        }
        &.active {
            cursor: default;
            background-color: $neutral;
        }
    }
}
// @media #{$large-up} {
//     .overview-filter-interior, .overview-filter {
//         width: 25vw;
//         z-index: 9999;
//         @include position(fixed, 0 0 0 auto);
//     }

//     .overview-filter-interior {
//         background-color: $black;
//         box-shadow: 4px 0px 3px rgb(16, 16, 16) inset;
//         margin: 0;
//         padding: 12 * $gutter 4 * $gutter;
//         will-change: transform;
//         @include transform(translateX(100%));
//         @include transition(transform 350ms $ease-out-quint);
//         li {
//             margin-bottom: 2 * $gutter;
//         }
//     }

//     .overview-filter.overview-filter-open .overview-filter-interior {
//         @include transform(none);
//     }

//     .overview-filter.overview-filter-open ~ .overview-lister {
//         opacity: 0.3;
//     }

//     .overview-filter.overview-filter-open .overview-filter-interior li {
//         // &:first-of-type {
//         //     margin-bottom: 4 * $gutter;
//         // }
//     }

//     .overview-filter-interior label.checkbox {
//         float: left;
//         margin-right: 2 * $gutter;
//     }
//     .overview-filter-interior label.checkbox + label {
//         line-height: rem(32);
//         color: white;
//     }
// }
