.work-hero {
    height: 720px;
    height: 75vh;
    position: relative;
    @include linear-gradient(27deg, $accent-color 20%, $grey 20%, $grey 60%, $primary-color 60%);
    @media #{$medium-down} {
        height: calc(75vh - #{$header-height});
    }
}

.work-hero-text-wrap {
    text-align: center;
}

.work-hero-text-wrap {
    width: 100%;
    @include scut-center-transform;
    h1 {
        font-size: rem(56);
        color: white;
        text-shadow: 1px 1px 1px $black;
        line-height: 1;
        @media #{$medium-up} {
            max-width: 50%;
        }
        @media #{$small-all} {
            font-size: rem(40);
        }
    }
    h2 {
        font-size: rem(22);
        margin-top: 2 * $gutter;
        line-height: 1.3;
        @media #{$large-up} {
            max-width: 45%;
        }
        @media #{$medium-only} {
            max-width: 80%;
        }
        @media #{$small-all} {
            font-size: rem(16);
        }
    }
    h1, h2 {
        margin-left: auto;
        margin-right: auto;
        @media #{$small-all} {
            padding-left: $gutter;
            padding-right: $gutter;
        }
    }
}

.work-intro .round-icon {
    display: inline-block;
    margin-right: $gutter;
    @include dynamic-icon-states($grey-darker);
    &:last-child {
        margin-right: 0;
    }
    span {
        color: white;
    }
}

.work-info h3 {
    margin-bottom: $gutter;
    font-size: rem(16);
    line-height: 1.7;
    span {
        margin-right: $gutter;
        @include a-tag-highlight;
    }
    &:first-of-type span {
        font-family: $heavy-font-family;
    }
    span:first-of-type {
        font-family: $heavy-font-family;
        border-bottom: 1px solid currentcolor;
        padding-bottom: 1px;
    }
}

/**
Body content stylings
*/
.work-content {
    * {
        margin-left: auto;
        margin-right: auto;
        display: block;
        max-width: $tiny;
    }
    img, video {
        max-width: 100%;
        margin-top: 4 * $gutter;
        margin-bottom: 4 * $gutter;
    }
}
