// .work-article, .work-hero {
//     box-shadow: $shadow-depth-1;
//     background: white;
//     padding: $gutter * 2;
//     margin-bottom: $section-break;
//     &:first-of-type {
//         margin-top: $section-break;
//     }
// }

// .work-hero {
//     .header-2 {
//         margin: 0;
//         float: left;
//         a {
//             color: $primary-color;
//         }
//     }
//     .switches {
//         float: right;
//     }
// }

// .work-article {
//     .icon-wrap {
//         @include user-select(none);
//     }
//     .round-icon {
//         display: inline-block;
//         &:not(:last-child) {
//             margin-right: $gutter; 
//         }
//     }
// }

.work-hero {
    // height: 40%;
    height: 470px;
    position: relative;
    @include linear-gradient(27deg, $accent-color 20%, $mild-grey 20%, $mild-grey 60%, $primary-color 60%);
}

.work-hero-text-wrap, .work-languages {
    text-align: center;
}

.work-hero-text-wrap {
    width: 100%;
    @include scut-center-transform;
    h1, h2 {
        margin: 0 auto;
    }
    h1 {
        font-size: rem(105);
        max-width: 90%;
        color: white;
        text-shadow: 1px 1px 1px $black;
    }
    h2 {
        font-size: rem(30);
        max-width: 60%;
        margin-top: 4 * $gutter;
        line-height: rem(42);
    }
}

.work-languages {
    max-width: 80%;
    margin: $section-break auto;
    h3 {
        max-width: rem(140);
        font-family: $heavy-font-family;
        // background-color: red;
        margin-left: 2 * $gutter;
        margin-right: 2 * $gutter;
        border-radius: 3px;
        padding: 0.6 * $gutter $gutter;
    }
}

.work-content {
    * {
        margin-left: auto;
        margin-right: auto;
        display: block;
    }
    img, video {
        max-width: 100%;
        margin-top: 4 * $gutter;
        margin-bottom: 4 * $gutter;
    }
    p, ul, ol {
        max-width: $tiny;
    }
}

// .work-hero h1 {
    // @include scut-center-transform;
// }

// .row-wrap {
//     position: relative;
//     overflow: hidden;
//     // background-color: $black;
//     height: 470px;
//     @include linear-gradient(#1e5799, #2989d8);
//     // background-image: linear-gradient(27deg, #f50057 20%, #EDEDED 20%, #EDEDED 60%, #FAA630 60%);
// }

// .row-wrap {
//     .header-1 {
//         color: $black;
//         margin-left: 5%;
//     }
//     .header-2 {
//         margin-left: 14%;
//         line-height: 1.35;
//         @include a-tag-highlight;
//     }
// }
// .block-a {
//     position: absolute;
//     height: 100%;
//     width: 50%;
//     background-color: $primary-color;
// left: 35%;
// height: 129%;
// transform: rotate(-20deg);
// width: 76%;
// top: 45%;
// }

// .work-shape {
//     overflow: auto;
//     min-height: rem(450);
// }

// .block-awrap {
//     overflow: hidden;
//     float: left;
// }
// .block-awrap {
//     width: 40%;
// }

// .block-bwrap {
//     position: absolute;
//     width: 60%;
// }

// .block-a1, .block-a2, .block-b1, .block-b2 {
//     position: absolute;
//     height: 100%;
// }

// .block-a1, .block-a2 {
//     background-color: $black;
// }

// .block-a1 {
//     width: 56%;
// }

// .block-a2 {
//     left: 35%;
//     width: 43%;
//     transform: rotate(-31deg);
//     height: 146%;
//     top: -3%;
// }

// .block-b2, .block-b1 {
//     background-color: $primary-color;
// }