<!DOCTYPE html>
<html class="no-js" lang="en">
<head>
    {% include "includes/baseincludes/meta.html" %}

    <!-- CURRENTLY NOT WORKING UNDER DEPLOYMENT: Critical CSS for performance (see: https://developers.google.com/speed/pagespeed/service/PrioritizeCriticalCss) -->
    <style>{% include "includes/criticalcss/hp.html" %}</style>
    
    {% if not homepage %}
    <link rel="stylesheet" href="{{global.urls.statics}}stylesheets/app.css?ver=7">
    {% endif %}
</head>

<body>
{% include "includes/baseincludes/ga.html" %}
{% block base_content %}
{% endblock base_content %}
{% include "includes/takeover.html" %}
{% if homepage %}
    <!-- CSS file lazy loaded for performance -->
    <script>
      var cb = function() {
        var l = document.createElement('link'); l.rel = 'stylesheet';
        l.href = '{{global.urls.statics}}stylesheets/app.css?ver=7';
        var h = document.getElementsByTagName('head')[0]; h.parentNode.insertBefore(l, h);
      };
      var raf = requestAnimationFrame || mozRequestAnimationFrame || webkitRequestAnimationFrame || msRequestAnimationFrame;
      if (raf) raf(cb);
      else window.addEventListener('load', cb);
    </script>
{% endif %}
<!-- Asynchronous js load for performance -->
<script src="{{global.urls.statics}}js/app.js?ver=7" async></script>
</body>

</html>
