<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>Max Barry - A Digital Dude's Portfolio | mxbry.com</title>
<meta name="description" content="Max Barry makes stuff on the internet. He's way too in to site performance, statistical analysis, data research, UX bits, Python and Django, Javascript, Node junk like Grunt, CSS3, and HTML5. It's kind of weird.">
<meta name="keywords" content="web,developer,digital,python,django,node,grunt,yeoman,london,uk,ux,internet">
<meta name="viewport" content="width=device-width, initial-scale=1">