<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>{{global.meta.title}}</title>
<meta name="description" content="{{global.meta.description}}">
<meta name="keywords" content="{{global.meta.keywords}}">
<meta name="viewport" content="width=device-width, initial-scale=1">

<!-- Twitter meta -->
<meta name="twitter:title" content="{{global.meta.title}}">
<meta name="twitter:description" content="{{global.meta.description}}">

<meta name="twitter:site" content="@mxbrry">
<meta name="twitter:site:id" content="276204106">
<meta name="twitter:creator" content="@mxbrry">
<meta name="twitter:creator:id" content="276204106">
{# <meta name="twitter:url" content="http://www.mxbry.com/"> #}
<meta name="twitter:domain" content="http://www.mxbry.com/">
<meta name="twitter:card" content="summary_large_image">

<meta name="twitter:image:src" content="{{global.meta.site_img}}">
<meta name="twitter:image:width" content="1200">
<meta name="twitter:image:height" content="783">

<!-- Open Graph meta -->
<meta property="og:title" content="{{global.meta.title}}">
<meta property="og:description" content="{{global.meta.description}}">
<meta property="og:url" content="http://www.mxbry.com/">
<meta property="og:site_name" content="mxbry.com">
<meta property="og:image" content="{{global.meta.site_img}}">
<meta property="og:type" content="article">

<!-- Google Plus Meta -->
<link rel="author" href="https://plus.google.com/111508537607445323379/" />
<link rel="publisher" href="https://plus.google.com/111508537607445323379/" />