<!DOCTYPE html>
<html class="no-js" lang="en">

<head>
    {% include "../includes/meta.html" %}

    <link rel="stylesheet" href="/css/app.css">
    <link rel="stylesheet" href="/css/fonts.css">

    <link rel="preload" href="/css/app.css" as="style" onload="this.rel='stylesheet'">
    <noscript><link rel="stylesheet" href="/css/app.css"></noscript>
    <link rel="preload" href="/css/fonts.css" as="style" onload="this.rel='stylesheet'">
    <noscript><link rel="stylesheet" href="/css/fonts.css"></noscript>


<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700,300' rel='stylesheet' type='text/css'>


    <!-- TODO : Async this properly with filamnet polyfill -->

    <!-- TODO : Async modernizr -->
    <script src="/js/modernizr.js"></script>
</head>

<body>
    <!-- Google Tag Manager -->
    <noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-PT84K6"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    '//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-PT84K6');</script>
    <!-- End Google Tag Manager -->

    <div id="applicationRoot"></div>

    <!-- TODO : Async app.js -->
    <script src="/js/app.js"></script>

</body>

</html>
