{% extends "base.html" %}

{% block base_content %}
<aside class="overview-filter bottom-sheet">
    <label for="discipline-filter" class="select-icon page-wrap tiny sct-break">
        <select name="discipline-filter" id="discipline-filter">
            <option value="all">All</option>
            {% for l in global.languages %}
            <option value="{{l|slugify}}">{{l}}</option>
            {% endfor %}
        </select>
    </label>
    <button class="flat center bottom-sheet-close-trigger">Looks good</button>
</aside>

<h1 class="page-wrap tiny header-1">
    <a href="{{global.urls.index}}">My</a> Work.
</h1>
<h2 class="page-wrap xtiny header-4">
    Lorem <a href="">ipsum dolor</a> sit amet, consectetur adipisicing elit. Vitae rem eveniet temporibus cum architecto ullam ex quas aliquam iste, <a href=""> fuga dolores, corrupti</a> perferendis assumenda sit. Totam repellendus, architecto, ea qui <a href="" target="_blank">tempori</a>.
</h2>


<article class="page-wrap xtiny sct-break overview-controls usn">
    <ul>
        <li data-category="all" class="heavy active">All</li>
        {% for l in global.languages %}
        <li data-category="{{l|slugify}}" class="{{l|slugify}}-color heavy">{{l}}</li>
        {% endfor %}
    </ul>
</article>

<article class="page-wrap overview-lister mobile-wide">
    <i class="loader show"></i>
</article>

<div class="round-icon control raise bottom-sheet-trigger overview-sheet-trigger"></div>

{% endblock base_content %}