{% extends "base.html" %}

{% block base_content %}
<article id="work-hero" class="work-hero mobile-wide">
    <section class="work-hero-text-wrap">
        <h1 class="header-1">{{project.title}}</h1>
        {% if project.deck %}<h2>{{project.deck}}</h2>{% endif %}
    </section>
</article>

<div class="work-intro page-wrap tiny sct-break usn">
    {% if project.demo %}<a target="_blank" href="{{project.demo}}" class="round-icon raise"><span>Demo</span></a>{% endif %}
    {% for action in project.actions %}<a target="_blank" href="{{action.value}}" class="round-icon raise"><span>{{action.key}}</span></a>{% endfor %}
</div>

<article class="work-info page-wrap tiny sct-break">
    {% for item in project.info %}
    <h3>
        <span>{{item.key}}</span>
        {% for value in item.values %}
        <span {% if item.style %}class="{{value|slugify}}-color"{% endif %}>{% if value.url %}<a href="{{value.url}}" target="_blank">{{value.value}}</a>{% else %}{{value}}{% endif %}</span>
        {% endfor %}
    </h3>
    {% endfor %}
</article>

<hr class="page-wrap tiny sct-break">
<article class="work-content page-wrap sct-break">
    {{body|markdown}}
</article>

<hr class="page-wrap tiny sct-break">
<article class="work-extro page-wrap sct-break tiny">
    <a href="{{global.urls.work}}">Check out another thing I've made</a>
</article>

<script>
    document.getElementById("work-hero").className += " " + ["primary", "accent"][Math.floor(Math.random() * (2 - 0)) + 0];
</script>
{% endblock base_content %}