{% extends "base.html" %}

{% block base_content %}
<aside class="overview-filter bottom-sheet">
    <label for="discipline-filter" class="select-icon page-wrap tiny sct-break">
        <select name="discipline-filter" id="discipline-filter">
            <option value="all">All</option>
            {% for l in global.languages %}
            <option value="{{l|slugify}}">{{l}}</option>
            {% endfor %}
        </select>
    </label>
    <button class="flat center bottom-sheet-close-trigger">Looks good</button>
</aside>

<h1 class="page-wrap tiny header-1">
    <a href="{{global.urls.index}}">My</a> Work.
</h1>
<h2 class="page-wrap xtiny header-4">
    I do a lot of projects across a range of disciplines. My day-to-day is Django web builds, with a keen focus on CSS3 animation and how <a href="{{global.urls.work}}mxbry">little touches like movement</a> can further UX and design goals.<br><br>
    I also invest a lot in project architecture; Grunt and often <a href="{{global.urls.work}}jumpstart-static">Yeoman</a> being a staple of everything I do. Express.js is another dalliance, whilst the way data can inform UX, design, and understanding search is another area I spend a lot of time thinking about. 
</h2>


<article class="page-wrap xtiny sct-break overview-controls usn">
    <ul>
        <li data-category="all" class="heavy active">All</li>
        {% for l in global.languages %}
        <li data-category="{{l|slugify}}" class="{{l|slugify}}-color heavy">{{l}}</li>
        {% endfor %}
    </ul>
</article>

<article class="page-wrap overview-lister mobile-wide">
    <i class="loader show"></i>
</article>

<div class="round-icon control raise bottom-sheet-trigger overview-sheet-trigger"></div>

{% endblock base_content %}