{% extends "base.html" %}

{% block base_content %}
<article class="work-hero mobile-wide">
    <section class="work-hero-text-wrap">
        <h1 class="header-1">{{project.title}}</h1>
        {% if project.deck %}
        <h2>{{project.deck}}</h2>
        {% endif %}
    </section>
</article>
<div class="work-intro page-wrap tiny sct-break usn">
    {% for action in project.actions %}
    <a target="_blank" href="{{action.value}}" class="round-icon raise"><span>{{action.key}}</span></a>
    {% endfor %}
</div>
<div class="work-info page-wrap tiny sct-break">
    {% for item in project.info %}
    <h3>
        <span>{{item.key}}</span>
        {% for value in item.values %}
        <span {% if item.style %}class="{{value|slugify}}-color"{% endif %}>{{value}}</span>
        {% endfor %}
    </h3>
    {% endfor %}
{#     <h3>
        <span>We're talking</span>
        <span class="python-color">Python</span>
        <span class="grunt-color">Grunt</span>
        <span class="scss-color">Scss</span>
    </h3>
    <h3>
        <span>Uses</span>
        <span>Foundation</span>
        <span>jQuery</span>
        <span><a href="" target="blank">Moment.js</a></span>
    </h3>
    <h3>
        <span>Made in</span>
        <span>Late 2014</span>
    </h3>
    <h3>
        <span>Worth reading</span>
        <span><a href="" target="blank">Medium article</a></span>
    </h3>
</div>

{# <div class="work-languages page-wrap tiny grid sct-break">
    <h3 class="grid-item python-color">Python</h3>
    <h3 class="grid-item grunt-color">Grunt</h3>
    <h3 class="grid-item scss-color">Scss</h3> #}
</div>
<hr class="page-wrap tiny sct-break">
<article class="work-content page-wrap sct-break">
    {{project.body|markdown}}
{#     <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque reiciendis, suscipit autem! Tempora ipsum eius repellat vel odit incidunt sunt libero ad sequi beatae in fuga vitae rem sit consequuntur dolor placeat, saepe amet eum ipsam aliquid? Facere, ipsum! Corporis.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque reiciendis, suscipit autem! Tempora ipsum eius repellat vel odit incidunt sunt libero ad sequi beatae in fuga vitae rem sit consequuntur dolor placeat, saepe amet eum ipsam aliquid? Facere, ipsum! Corporis. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa officiis, obcaecati qui harum inventore accusantium porro eveniet magni facilis amet magnam, accusamus possimus repellendus, nihil vel natus corporis aperiam enim!</p>
    <img src="https://farm9.staticflickr.com/8592/15606484029_37c5136fc2_k_d.jpg">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque reiciendis, suscipit autem! Tempora ipsum eius repellat vel odit incidunt sunt libero ad sequi beatae in fuga vitae rem sit consequuntur dolor placeat, saepe amet eum ipsam aliquid? Facere, ipsum! Corporis.</p> #}
</article>

{# TODO: Do a draw on to show that the dot dot dot means more. Handwritten pen that draws on with an arrow pointing at the more dot dot dot #}
{# <div class = "work-hero page-wrap slim">
    <h1 class="header-2">Work by <a href="">Me</a></h1>
    <div class="switches">Switches</div>
</div> #}

<!--
<div class="row-wrap">
<div class="header-1">Lorem ipsum dolor sit amet.</div>
<div class="header-2">An exploration of <a href="">Falcon</a> &amp; MongoDB:<br>hyper fast python web servers as backend to<br> Javascript MVCs or static sites</div>
    {# <div class="block-a"></div> #}
{#     <article class="work-shape block-awrap">
        <div class="block-a1"></div>
        <div class="block-a2"></div>
        <h2 class="header-1">Lorem ipsum dolor.</h2>
    </article>

    <article class="work-shape block-bwrap">
        <div class="block-b1"></div>
        <div class="block-b2"></div>
        <h2 class="header-1">Lorem ipsum dolor.</h2>
    </article> #}
</div>
-->


{# <article class="work-shape "><h2 class="header-1">Lorem ipsum.</h2></article>
<article class="work-shape"><h2 class="header-1">Lorem ipsum dolor sit amet, consectetur.</h2></article> #}

<!--
{% for x in "xx" %}
<article class = "work-article page-wrap slim">
    <div class = "lrg-7">
        <h2 class = "header-3"><a href="">Lorem ipsum dolor.</a></h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur, iste! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam culpa atque cumque sunt a asperiores porro.</p>
        <div class="icon-wrap">
            <div class="round-icon more-dots-wh"></div>
            <div class="round-icon grunt"><span>Grunt</span></div>
            {# <div class="round-icon html"><span>HTML</span></div> #}
            <div class="round-icon scss"><span>Scss</span></div>
            {# <div class="round-icon javascript"><span>Js</span></div> #}
            {# <div class="round-icon python"><span>Py</span></div> #}
            <div class="round-icon github"></div>
            {# <div class="round-icon medium"></div> #}
        </div>
    </div>
    <div class = "lrg-5">
        <img src="http://i.giphy.com/2U5dsUikiNFEk.gif" alt="">
    </div>
</article>
{% endfor %}
-->

{% endblock base_content %}