$about__duration: 1300ms;
$about__ease: $ease-out-cubic;

.about__content {
    max-width: 450px;
    display: inline-block;
    vertical-align: top;
    margin-right: 90px;
}


// Homescreen splash specific settings
.about--hero {
    width: 66vw;
    height: 100%;
    right: 0;
    top: 0;
    transform: translateX(100%);
    padding: $magic*2;
    overflow: auto;
}

.about--hero, .splash {
    transition: transform $about__duration*0.5 $about__ease;
}

.visible__splash_about .splash {
    transform: translateX(-66%);
}

.visible__splash_about .about--hero {
    transform: none;
    transition-delay: 80ms;
}

@media #{$medium-down} {
    .about--hero {
        transform: none;
        position: relative;
        width: auto;
        padding: $magic*0.5;
        .about__content {
            max-width: 640px;
            margin: 0 auto;
            display: block;
        }
        img.about__content {
            display: none;
        }
    }
}
