.activities__list {
    max-width: 40%;
    margin: 0 auto;
}

.activities__item .bd a {
    display: block;
    font-family: $heavy-font-family;
}

.activities {
    @include scrollReveal(".activities__item", ".active", 12);
}
