.navigation {
    position: fixed;
    width: 66vw;
    top: 0;
    bottom: 0;
    right: 0;
    transform: translateX(100%);
    padding: 2*$em-base;
    transition: transform $navigation__duration*0.5 $navigation__ease;
}

.navigation__content {
    max-width: 450px;
    display: inline-block;
    vertical-align: top;
    margin-right: 90px;
}

.splash {
    transition: transform $navigation__duration*0.5 $navigation__ease;
}

.visible__splash_navigation .splash.--hero {
    transition: transform $navigation__duration $navigation__ease;
    transform: translateX(-66%);
}

.visible__splash_navigation .navigation {
    transform: none;
    transition: transform $navigation__duration $navigation__ease;
    transition-delay: 80ms;
}
