.navigation {
    background-color: $color-soft-black;
    padding: 0 $magic;
}

.navigation__nav {
    display: flex;
    align-items: center;
}

.navigation__nav a, .navigation__nav span {
    margin-right: $magic;
    font-family: $heavy-font-family;
    align-items: center;
    cursor: pointer;
    padding:0.25*$magic 0;
    text-transform: lowercase;
    position: relative;
    &:visited, & {
        color: white;
    }
    &:hover {
        text-decoration: none;
    }
    &:last-child {
        margin-right: 0;
    }
    &:nth-child(2) {
        margin-left: auto;
    }
    &.active:after {
        content: "";
        display: block;
        position: absolute;
        left: 0;
        right: 0;
        height: 0.25*$magic;
        background-color: $color-secondary;
        bottom: -2*0.25*$magic;
    }
}

@media #{$small-all} {
    .navigation__nav span, .navigation__nav a {
        &:nth-child(n+3) {
            display: none;
        }
        &:nth-child(2) {
            margin-right: 0;
        }
    }
}


// Home navigation styles
.isHome .navigation {
    opacity: 0;
    transition: opacity 150ms;
}
.isHome .navigation:hover {
    opacity: 1;
}

// Footer styles
.footer {
    margin-top: $magic;
    background-color: $color-soft-black;
    color: $color-neutral;
    .footer__main, .footer__foot {
        padding: $magic;
    }
    h5 {
        font-family: $heavy-font-family;
        font-style: normal;
    }
    h5, p:last-child {
        margin: 0;
    }
    .footer__foot {
        padding-top: $magic*0.5;
        padding-bottom: $magic*0.5;
        background-color: black;
    }
}
