// Overlay
$overlay-transition: 350ms;

.overlay {
    z-index: 99;
    background-color: white;
    border: 0;
    opacity: 0;
    width: 0;
    height: 0;
    pointer-events: none;
    transform: scale(0.9);
    padding: $work-padding 0;
    overflow: auto;
    @include scut-fill;
    position: fixed;
    .overlay__close {
        font-family: $heavy-font-family;
        text-transform: lowercase;
        position: absolute;
        top: $work-padding;
        right: $work-padding;
        color: $color-neutral-breaker;
        transition: color 80ms;
        cursor: pointer;
        &:hover {
            color: $color-soft-black;
        }
    }
    &.active {
        pointer-events: initial;
        height: auto;
        width: auto;
        opacity: 1;
        transform: none;
        transition: transform $overlay-transition $ease-out-quint, opacity 150ms;
    }
}

// Work overlay
.overlay {
    .work-overlay__title {
        text-align: center;
    }
    .work-overlay__title, .work-overlay__body {
        max-width: 580px;
        margin-left: auto;
        margin-right: auto;
        padding-left: $magic*0.5;
        padding-right: $magic*0.5;
        transform: translateY(-70px);
        opacity: 0;
        p, span, img {
            max-width: 100%;
        }
    }
    &.active {
        .work-overlay__title, .work-overlay__body {
            transform: none;
            opacity: 1;
            transition: transform $overlay-transition ease-out, opacity 150ms;
        }
        .work-overlay__title {
            transition-delay: $overlay-transition;
        }
        .work-overlay__body {
            transition-delay: $overlay-transition + 80ms;
        }
    }
}

// About overlay
#about-overlay {
    padding-left: $work-padding;
}

// Mobile styles
@media #{$medium-down} {
    .overlay {
        padding-top: 2*$work-padding;
        .work-overlay__title {
            font-size: 200%;
        }
    }
}
