$splash__transition: 300ms;
$splash__fast_transition: 150ms;
$splash__transition_op: $splash__transition*0.5;

@mixin splash__header-border($pos, $trans, $orig) {
    #{$pos}: -25%;
    transform: translateY(#{$trans});
    transform-origin: $orig;
};

@mixin splash__first-letter($n, $col) {
    &:nth-child(#{$n}) {
        &:hover, &.splash__active, .splash.splash--header & {
            .splash__letter {
                color: $col;
            }
        }
    }
    @content;
}

/**
General style
*/
.splash {
    height: 100vh;
}

.splash__third {
    width: 33%;
    height: 100%;
    display: inline-block;
    position: relative;
    &.splash--center {
        margin: 0 auto;
        display: block;
    }

    @include splash__first-letter(1, $color-primary);
    @include splash__first-letter(2, $color-secondary) {
        #activity-heading & .splash__letter {
            color: $color-secondary;
        }
    };
    @include splash__first-letter(3, $color-neutral-breaker);

}

.splash__title {
    font-size: 3vw;
    line-height: 1.1;
    min-width: 60%;
    @include scut-center-transform;
    span {
        overflow: hidden;
        display: inline-block;
    }
    [data-copy]:after {
        content: attr(data-copy);
        display: block;
    }
}

// All of the overflows and individual elements means we need to manually
// tune the type spacing slightly
.splash__letter ~ span {
    position: relative;
    left: -1.15vw;
}

// Tag after a headline, e.g. 'about me' under xoxo on Splash
.splash__title[data-after]:after {
    content: attr(data-after);
    color: $color-neutral-breaker;
    font-family: $base-font-family;
    font-weight: 100;
    font-size: 20px;
    position: absolute;
    display: block;
    opacity: 0;
    text-transform: lowercase;
}


/**
Hero styles
*/
.splash.splash--hero {

    @include scrollNudge;

    .splash__third {
        cursor: pointer;
    }

    .splash__letter {
        padding: 0 0.12vw;
        color: $color-soft-black;
        transform: scale(6);
        transform-origin: -20% 60%;
        transition: transform $splash__transition;
        @include bgReset;
    }

    .splash__title [data-copy]:after {
        opacity: 0;
        transition: opacity $splash__transition_op;
        transform: translateY(100%);
        transition-delay: $splash__transition_op;
    }

    .splash__third:hover, .splash__active {

        .splash__letter {
            transform: none;
            transition: transform $splash__transition, color $splash__fast_transition $splash__transition;
            &.bg-clip {
                background-image: none !important;
                -webkit-text-fill-color: initial;
                -webkit-background-clip: initial;
            }
        }

        .splash__title [data-copy]:after {
            opacity: 1;
            transition: transform $splash__transition;
            transition-delay: $splash__transition;
            transform: none;
        }

        .splash__title [data-copy]:last-child:after {
            transition-delay: $splash__transition*1.5;
        }

        .splash__title[data-after]:after {
            transition: opacity $splash__transition;
            transition-delay: $splash__transition*1.5;
            opacity: 1;
        }

    }
}

/**
Header styles
*/

.splash.splash--header .splash__title {
    &:after, &:before {
        content: "";
        background-color: $color-soft-black;
        // display: block;
        position: absolute;
        left: 0;
        right: 0;
        height: 10%;
        opacity: 0;
        transition: opacity 150ms, transform 300ms;
    }
    &:after {
        @include splash__header-border(bottom, -200%, top);
    }
    &:before {
        @include splash__header-border(top, 200%, bottom);
    }
    &.active {
        &:after, &:before {
            opacity: 1;
            transform: none;
        }
    }
}

/**
Mobile styles
*/
@media #{$small-all} {
    .splash.splash--hero {

        &:after {
            font-size: 54px;
        }

        .splash__third {
            float: left;
            text-align: center;
            pointer-events: none;
        }

        .splash__title {
            .splash__letter {
                transform: none;
                color: $color-soft-black;
                font-size: 22vw;
            }
            span:not(.splash__letter) {
                display: none;
            }
        }
    }
    .splash.splash--header {
        padding-left: $magic*0.5;
        padding-right: $magic*0.5;
        .splash__third, .splash__title {
            width: 100%;
        }
        .splash__title {
            min-width: 0;
            font-size: 12vw;
        }
        .splash__letter ~ span {
            left: -4.5vw;
        }
    }
}
