$splash__transition: 300ms;
$splash__fast_transition: 150ms;
$splash__transition_op: $splash__transition*0.5;

@mixin splashActive {
    .--line-hero {
        transform: none;
        transition: transform $splash__transition, color $splash__fast_transition $splash__transition;
        &.--line-flip {
            background-image: none !important;
            -webkit-text-fill-color: initial;
            -webkit-background-clip: initial;
        }
    }
    &:nth-child(1) .--line-hero {
        color: $color-primary;
    }
    &:nth-child(2) .--line-hero {
        color: $color-secondary;
    }
    &:nth-child(3) .--line-hero {
        color: $color-neutral-breaker;
    }
    .--line-hide {
        opacity: 1;
        transition: opacity 0ms;
        &:after {
            transition: transform $splash__transition;
            transition-delay: $splash__transition;
            transform: none;
        }
        &:last-child:after {
            transition-delay: $splash__transition*1.5;
        }
    }
}

@mixin splashOff {
    opacity: 0;
    cursor: default;
    pointer-events: none;
}

@mixin splashOn {
    opacity: 1;
}

.splash {
    // position: fixed;
    height: 100vh;
    width: 100%;
    transition: transform $navigation__duration*0.5 $navigation__ease;
    &:after {
        content: "\2329";
        display: block;
        font-size: 115px;
        color: $color-neutral-breaker;
        opacity: 0.2;
        transform: rotate(-90deg);
        text-align: center;
        position: relative;
        top: -80px;
    }
}

.splash__third {
    width: 33%;
    height: 100%;
    display: inline-block;
    position: relative;
    cursor: pointer;
    // transition: opacity $splash__fast_transition;
}

.splash__copy_wrap {
    width: 60%;
    @include scut-center-transform;
}

.splash__line {
    display: inline-block;
    position: relative;
    font-size: 3vw;
    font-family: $heavy-font-family;
    line-height: 1;
    overflow: hidden;
    &:last-child {
        left: -0.2vw;
    }
    &.--line-hero {
        padding: 0 0.12vw;
        transform: scale(6);
        transform-origin: -20% 60%;
        transition: transform $splash__transition;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        &.--bg-clip {
            -webkit-text-fill-color: transparent;
            -webkit-background-clip: text;
        }
    }
    &.--line-hide {
        opacity: 0;
        transition: opacity $splash__transition_op;
    }
    &.--line-hide:after {
        content: attr(data-copy);
        display: block;
        transform: translateY(100%);
        transition-delay: $splash__transition_op;
    }
}

.splash__third:hover, .splash__active {
    @include splashActive;
}

.splash__third:last-child:hover .splash__line:last-child:after {
    transition-delay: $splash__transition;
}

// Serif after element
.splash__copy_wrap[data-after]:after {
    content: attr(data-after);
    color: $color-neutral-breaker;
    font-weight: 100;
    position: absolute;
    display: block;
    opacity: 0;
    transition: opacity $splash__transition;
    text-transform: lowercase;
    .splash__third:hover &, .splash__third.splash__active & {
        transition-delay: $splash__transition*1.5;
        opacity: 1;
    }
}

.splash__heading {
    min-height: 200vh;
}


// ARGH!

// [data-section="work"] {
//     .scrolling__preactive &,
//     .scrolling__preactive.scrolling__active &,
//     .scrolling__preactive.scrolling__active.scrolling__prework.scrolling__work & {
//         @include splashOff;
//     }
//     .scrolling__preactive.scrolling__active.scrolling__prework & {
//         @include splashActive;
//         @include splashOn;
//     }
// }
//
// [data-section="else"] {
//     .scrolling__preactive &,
//     .scrolling__preactive.scrolling__active &,
//     .scrolling__preactive.scrolling__active.scrolling__prework &
//     .scrolling__preactive.scrolling__active.scrolling__prework.scrolling__work & {
//         @include splashOff;
//     }
// }
//
// [data-section="activity"] {
//     .scrolling__preactive.scrolling__active &,
//     .scrolling__preactive.scrolling__active.scrolling__prework &,
//     .scrolling__preactive.scrolling__active.scrolling__prework.scrolling__work & {
//         @include splashOff;
//     }
//
//     .scrolling__preactive & {
//         @include splashActive;
//         @include splashOn;
//     }
// }
//
// .scrolling__preactive.scrolling__active {
//     [data-section="activity"], [data-section="work"] {
//         .--line-hero {
//             transform: none !important;
//             transition: none !important;
//         }
//     }
// }
//
// .scrolling__preactive .splash {
//     pointer-events: none;
//     &:after {
//         display: none;
//     }
// }

// .scrolling__preactive {
//     [data-section="activity"] {
//         @include splashActive;
//     }
//     [data-section="work"], [data-section="else"] {
//         @include splashOff;
//     }
// }
// .scrolling__active {
//     [data-section="activity"], [data-section="work"], [data-section="else"] {
//         @include splashOff;
//     }
// }
//
// .scrolling__prework {
//     [data-section="activity"], [data-section="else"] {
//         @include splashOff;
//     }
//     [data-section="work"] {
//         @include splashActive;
//         @include splashOn;
//     }
// }
