$work-padding: 48px;

/**
Default work styles
*/
.work__profile {
    padding: $work-padding;
    position: relative;
    cursor: pointer;
    @include bgReset;
    &.--blank {
        > * {
            opacity: 0;
        }
    }
}

.work__feature {
    margin-bottom: $magic;
    .img:before {
        content:"\203A";
    }
}

.work__title {
    color: $color-neutral;
    max-width: 50%;
    .work__profile.--invertText & {
        color: $color-soft-black;
    }
    .work__profile.--right & {
        float: right;
    }
}

.work__profile[data-expand] .work__headline i:before {
    content:"\203A";
    display: inline-block;
    transform: translateX(100%);
    opacity: 0;
    transition: 80ms opacity, transform 150ms ease-out;
}

.work__profile[data-expand]:hover .work__headline i:before {
    opacity: 1;
    transform: none;
}

.work__tech_list {
    margin-top: $magic*2;
}
.work__tech {
    float: left;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}


// Large
.work__profile.--large {
    background-size: 105%;
    background-position: -25px -50px;
    min-height: 100vh;
    .work__title {
        position: absolute;
    }
    &.--right .work__title {
        right: $work-padding;
    }
    &.--bottom .work__title {
        bottom: $work-padding;
    }
}

// Card

.work__card-profiles {

    display: flex;
    align-items: center;
    flex-wrap: wrap;
    align-items: flex-start;
    min-height: 100vh;

    .work__profile, .work__title, & {
        padding: $work-padding*0.5;
    }

    .work__profile {
        flex-grow: 1;
        flex-basis: 25%;
        min-width: 25%;
        max-width: 50%;
    }
    .work__title {
        max-width: none;
        background-color: white;
        box-shadow: 0 2px 5px 0 rgba(245, 245, 245, 0.16),0 2px 10px 0 rgba(0,0,0,0.12);
        .work__headline {
            font-size: $magic;
        }
        .work__subline {
            font-size: $fontBaseREM;
        }
    }
    i, .work__feature_list {
        display: none;
    }
    .work__tech_list {
        margin-bottom: 0;
    }
    .work__tech {
        box-shadow: none;
        @include icon-size(nth(nth($icon-sizes, 2), 2));
    }
}

// Overlay
$overlay-transition: 350ms;

.overlay {
    z-index: 99;
    background-color: white;
    opacity: 0;
    width: 0;
    height: 0;
    pointer-events: none;
    transform: scale(0.9);
    padding: $work-padding 0;
    @include scut-fill;
    .overlay__close {
        font-family: $heavy-font-family;
        font-size: 26px;
        text-transform: lowercase;
        position: absolute;
        top: $work-padding;
        right: $work-padding;
        color: $color-neutral-breaker;
        transition: color 80ms;
        cursor: pointer;
        &:hover {
            color: $color-soft-black;
        }
    }
    .work-overlay__title {
        text-align: center;
    }
    .work-overlay__title, .work-overlay__body {
        max-width: 580px;
        margin-left: auto;
        margin-right: auto;
        padding-left: $magic*0.5;
        padding-right: $magic*0.5;
        transform: translateY(-70px);
        opacity: 0;
    }

    &.--active {
        pointer-events: initial;
        height: auto;
        width: auto;
        opacity: 1;
        transform: none;
        transition: transform $overlay-transition $ease-out-quint, opacity 150ms;

        .work-overlay__title, .work-overlay__body {
            transform: none;
            opacity: 1;
            transition: transform $overlay-transition ease-out, opacity 150ms;
        }

        .work-overlay__title {
            transition-delay: $overlay-transition;
        }
        .work-overlay__body {
            transition-delay: $overlay-transition + 80ms;
        }
    }

}
