$work-padding: 48px;

/**
Default work styles
*/
.work__profile {
    padding: $work-padding;
    position: relative;
    // background-color: $color-grey;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.work__feature {
    // color: $color-primary;
    margin-bottom: $magic;
    font-weight: bold;
    .img:before {
        content:"\203A";
    }
}

.work__profile[data-expand] {
    cursor: pointer;
}

.work__title {
    color: $color-neutral;
    max-width: 50%;
    .work__profile.--invertText & {
        color: $color-soft-black;
    }
    .work__profile.--right & {
        float: right;
    }
}

.work__profile[data-expand] .work__headline i:before {
    content:"\203A";
    display: inline-block;
    transform: translateX(100%);
    opacity: 0;
    transition: 80ms opacity, transform 150ms ease-out;
}

.work__profile[data-expand]:hover .work__headline i:before {
    opacity: 1;
    transform: none;
}

.work__tech_list {
    margin-top: $magic*2;
}
.work__tech {
    float: left;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}


// Large
.work__profile.--large {
    background-size: 105%;
    background-position: -25px -50px;
    min-height: 100vh;
    .work__title {
        position: absolute;
    }
    &.--right .work__title {
        right: $work-padding;
    }
    &.--bottom .work__title {
        bottom: $work-padding;
    }
}

// Card

.work__card-profiles {

    display: flex;
    // justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    align-items: flex-start;
    min-height: 100vh;
    padding-top: $work-padding*0.5;
    padding-bottom: $work-padding*0.5;
    padding-left: $work-padding*0.5;
    padding-right: $work-padding*0.5;

    .work__profile {
        flex-grow: 1;
        flex-basis: 25%;
        min-width: 25%;
        max-width: 50%;
        padding: $work-padding*0.5;
        background-color: transparent;
    }
    .work__title {
        max-width: none;
        color: $color-soft-black;
        background-color: white;
        padding: $work-padding*0.5;
        box-shadow: 0 2px 5px 0 rgba(245, 245, 245, 0.16),0 2px 10px 0 rgba(0,0,0,0.12);
        i {
            display: none;
        }
    }
    .work__headline {
        font-size: $magic;
    }
    .work__subline {
        font-size: $fontBaseREM;
    }
    .work__feature_list {
        display: none;
    }
    .work__tech_list {
        margin-bottom: 0;
    }
    .work__tech {
        width: $icon-small;
        height: $icon-small;
        box-shadow: none;
    }
}
