<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>{{ meta.title }}</title>
<meta name="description" content="{{ meta.description }}">
<meta name="viewport" content="width=device-width, initial-scale=1">

<!-- Twitter meta -->
<meta name="twitter:title" content="{{ meta.title }}">
<meta name="twitter:description" content="{{ meta.description }}">

<meta name="twitter:site" content="@mxbrry">
<meta name="twitter:site:id" content="276204106">
<meta name="twitter:creator" content="@mxbrry">
<meta name="twitter:creator:id" content="276204106">
<meta name="twitter:domain" content="{{ meta.baseurl }}">
<meta name="twitter:card" content="summary_large_image">

<meta name="twitter:image:src" content="{{ meta.metaImg }}">
<meta name="twitter:image:width" content="1200">
<meta name="twitter:image:height" content="783">

<!-- Open Graph meta -->
<meta property="og:title" content="{{ meta.title }}">
<meta property="og:description" content="{{ meta.description }}">
<meta property="og:url" content="{{ meta.baseurl }}">
<meta property="og:site_name" content="mxbry.com">
<meta property="og:image" content="{{ meta.metaImg }}">
<meta property="og:type" content="article">

<!-- Google Plus Meta -->
<link rel="author" href="https://plus.google.com/111508537607445323379/" />
<link rel="publisher" href="https://plus.google.com/111508537607445323379/" />

<meta name="theme-color" content="#f50057" />


<link rel="apple-touch-icon" sizes="57x57" href="/apple-touch-icon-57x57.png">
<link rel="apple-touch-icon" sizes="60x60" href="/apple-touch-icon-60x60.png">
<link rel="apple-touch-icon" sizes="72x72" href="/apple-touch-icon-72x72.png">
<link rel="apple-touch-icon" sizes="76x76" href="/apple-touch-icon-76x76.png">
<link rel="apple-touch-icon" sizes="114x114" href="/apple-touch-icon-114x114.png">
<link rel="apple-touch-icon" sizes="120x120" href="/apple-touch-icon-120x120.png">
<link rel="apple-touch-icon" sizes="144x144" href="/apple-touch-icon-144x144.png">
<link rel="apple-touch-icon" sizes="152x152" href="/apple-touch-icon-152x152.png">
<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon-180x180.png">
<link rel="icon" type="image/png" href="/favicon-32x32.png" sizes="32x32">
<link rel="icon" type="image/png" href="/favicon-194x194.png" sizes="194x194">
<link rel="icon" type="image/png" href="/favicon-96x96.png" sizes="96x96">
<link rel="icon" type="image/png" href="/android-chrome-192x192.png" sizes="192x192">
<link rel="icon" type="image/png" href="/favicon-16x16.png" sizes="16x16">
<link rel="manifest" href="/manifest.json">
<link rel="mask-icon" href="/safari-pinned-tab.svg" color="#f50057">
<meta name="msapplication-TileColor" content="#f50057">
<meta name="msapplication-TileImage" content="/mstile-144x144.png">
