<section class="work__profile --{{size}} --{{direction}} clearfix" style="background-image: url('/img/work/jumpstart.jpg')" data-expand>
    <div class="work__title">
        <h2 class="work__headline">Jumpstart Static <i></i></h2>
        <h3 class="work__subline">An open source launchpad for modern web applications, made in Yeoman</h3>
        <ul class="work__feature_list">
            <li class="media work__feature">
                <div class="img"></div>
                <div class="bd">Over 3000 downloads a month</div>
            </li>
            <li class="media work__feature">
                <div class="img"></div>
                <div class="bd">Maintained since 2015</div>
            </li>
        </ul>
        <ul class="work__tech_list clearfix">
            <li class="work__tech icon --medium --i-yeoman"></li>
            <li class="work__tech icon --medium --i-npm"></li>
            <li class="work__tech icon --medium --i-es6"></li>
        </ul>
    </div>
</section>
