.activity {
    @include outer-container(rem(480));
}

.activity li{
    height: $activity-source-height;
    position: relative;
    margin-top: $gutter;
    @include clearfix;
}

.activity li:first-child {
    margin-top: 0;
}

.activity span {
    overflow: hidden;
    text-overflow: ellipsis;
    max-height: 65%;
    @include scut-center-transform(y);
}

.filter {
    @include transform-style(preserve-3d);
    margin-bottom: 2 * $gutter;
}

.filter .source-icon.control {
    background-color: $neutral;
    background-image: url("#{$image-url}icons/filter-wh.svg");
    @include transition(background-image, background-color 250ms $ease-out-quint);
}

.filter .source-icon:not(.control) {
    background-color: $neutral-darker;
    opacity: 0;
    pointer-events: none;
    // TODO : Pointer event polyfill
    @include transition(transform 250ms $ease-out-quint, opacity 150ms $ease-out-quint, background-color 250ms $ease-out-quint);
}

$filter-reveal-delay: 150ms;

.filter .source-icon:nth-child(2) {
    @include transform(translate3d(-120%, 0, -1px));
}
.filter .source-icon:nth-child(3) {
    @include transform(translate3d(-230%, 0, -1px));
}
.filter .source-icon:nth-child(4) {
    @include transform(translate3d(-340%, 0, -1px));
}

.reveal-filter-options {
    .source-icon:nth-child(3) {
    @include transition-delay($filter-reveal-delay);

    }
    .source-icon:nth-child(4) {
    @include transition-delay($filter-reveal-delay * 2);

    }
}

.reveal-filter-options .source-icon:not(.control) {
    opacity: 1;
    pointer-events: all;
    @include transform(none);
    @include transition(transform 500ms $ease-out-quint, opacity 150ms $ease-out-quint, background-color 250ms $ease-out-quint); 
    &:hover {
        background-color: darken($neutral-darker, 5);
    }
}

.reveal-filter-options .source-icon.control {
    background-image:url("#{$image-url}icons/clear-wh.svg");
    background-color: $black;
    @include swap-bg-image;
}
