@font-face {
    font-family: 'League Spartan';
    src: url('#{$fonts-url}leaguespartan-bold.eot');
    src: url('#{$fonts-url}leaguespartan-bold.eot?#iefix') format('embedded-opentype'),
         url('#{$fonts-url}leaguespartan-bold.woff2') format('woff2'),
         url('#{$fonts-url}leaguespartan-bold.woff') format('woff'),
         url('#{$fonts-url}leaguespartan-bold.ttf') format('truetype'),
         url('#{$fonts-url}leaguespartan-bold.svg#league_spartanbold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'medioregular';
    src: url('#{$fonts-url}Medio-webfont.eot');
    src: url('#{$fonts-url}Medio-webfont.eot?#iefix') format('embedded-opentype'),
         url('#{$fonts-url}Medio-webfont.woff') format('woff'),
         url('#{$fonts-url}Medio-webfont.ttf') format('truetype'),
         url('#{$fonts-url}Medio-webfont.svg#medioregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

