$input-height: 48px;

@mixin input-state($col) {
    color: $col;
    border-color: $col;
    & + label {
        color: $col;
    }
}

.form__field {
    position: relative;
    line-height: 1;
    &:not(:last-child) {
        margin-bottom: 0.5*$input-height;
    }
}

.form__field input, button {
    min-height: $input-height;
}

.form__field input:not([type="submit"]) {
    background-color: transparent;
    font-family: $base-font-family;
    font-size: $em-base;
    font-weight: bold;
    padding: 10px 0 1px 0;
    width: 100%;
    transition: color 100ms;
    @include inputReset
    border-bottom: 1px solid $color-neutral-breaker;
}


button, input[type="submit"] {
    background-color: $color-secondary;
    color: white;
    text-transform: uppercase;
    font-family: $heavy-font-family;
    padding: $magic*0.5;
    cursor: pointer;
    min-width: 160px;
    @include inputReset;
}


.form__field label {
    font-size: $em-base;
    position: absolute;
    pointer-events: none;
    top: 16px;
    left: 0;
    transition:200ms ease all;
    color: $color-neutral-breaker;
    &:after {
        content: " " attr(data-validation);
        opacity: 0;
        transition: opacity 200ms;
    }
}


.form__field {
    input:focus, input:valid, input.hasValue {
        & + label {
            top: -5px;
            font-size: 15px;
        }
    }
}

// Valid and invalid states
.form__field input.hasValue:not(:focus):not(:valid) {
    @include input-state($color-error);
    & + label:after {
        opacity: 1;
    }
}
.form__field input.hasValue:not(:focus):valid {
    @include input-state($color-valid);
}
