html {
    font-size: 14px;
    background-color: $light-grey;
    @media #{$small-all} {
        font-size: 15px;
    }
}

body {
    overflow-x: hidden;
    @media #{$medium-down} {
        padding-top: $header-height;
    }
}

@media #{$small-all}{
    body {
        padding-left: $gutter;
        padding-right: $gutter;
    }
    .mobile-wide {
        width: calc(100% + #{2*$gutter});
        margin-left: -#{$gutter} !important;
    }
}

.filter div, .activity li {
    @include user-select(none);
}

.usn {
    @include user-select(none);
}

* {
    @media #{$small-all} {
        -webkit-tap-highlight-color: rgba(0,0,0,0);
    }
}

.page-wrap {
    @include outer-container;
    @media only screen and (max-width: $max-width) {
        padding-right: $gutter;
        padding-left: $gutter;
    }
    @media #{$small-all} {
        padding: 0;
    }
    &.slim {
        max-width: $slim;
    }
    &.tiny {
        max-width: $tiny;
    }
    &.xtiny {
        max-width: $xtiny;
    }
}

a {
    @include transition(color 150ms);
    &:hover {
        color: $accent-color;
    }
}
hr {
    border: 0 !important;
    height: 2px;
    background: #DDD;
    border-top: 1px solid #EDEDED;
    max-width: 70%;
    margin-left: auto !important;
    margin-right: auto !important;
}

img {
    max-width: 100%;
}

.mreset {
    margin: 0 !important;
}

.sct-break {
    margin-bottom: $section-break;
    &:first-of-type {
        margin-top: $section-break;
    }
    @media #{$small-all} {
        margin-bottom: rem(30);
        &:first-of-type {
            margin-top: rem(30);
        }
    }
}

.right {
    float: right;
}

.left {
    float: left;
}

.card {
    box-shadow: $shadow-depth-1;
    background-color: white;
    padding: $gutter * 2;
}

.heading {
    border-bottom: 1px solid $mild-grey;
}

.clearfix {
    @include row;
}

.banding-block {
    height: 30%;
    width: 100%;
    position: absolute;
    top: 0;
    z-index: -1;
    &.primary {
        background-color: $primary-color;
    }
    &.drk-gry {
        background-color: $dark-grey;
    }
}

::selection {
  background: $accent-color;
}
::-moz-selection {
  background: $accent-color;
}

.full-bleed {
    height: 100vh;
    width: 100vw;
}

.round {
    border-radius: 50%;
}

.center {
    margin: 0 auto;
    display: block;
}

.header-1.page-wrap.tiny {
    margin-top: $section-break;
    text-align: center;
}

.header-4.page-wrap.xtiny {
    margin-bottom: $section-break;
    @media #{$small-all} {
        margin-bottom: 2 * $gutter;
    }
}
