html {
    font-size: 14px;
    @media #{$small-all} {
        font-size: 15px;
    }
}

body {
    @media #{$small-all}{
        padding-left: $gutter;
        padding-right: $gutter;
    }
}

.filter div, .activity li {
    @include user-select(none);
}

.page-wrap {
    @include outer-container;
    &.slim {
        max-width: rem(840);
    }
    &.tiny {
        max-width: rem(480);
    }
    &.xtiny {
        max-width: rem(320);
    }
}


.loader {
    $loader-height: rem(40);
    display: block;
    margin: 0 auto;
    width: $loader-height;
    height: $loader-height;
    background: $accent-color;
    border-radius: 50%;
    opacity: 0;
    @include transform(rotate(0deg) scale(1));
    @include transition(opacity 350ms);
    @include transform-origin(center center);
    @include animation(loader 1200ms);
    @include animation-iteration-count(infinite);
    &.show {
        opacity: 1;
        @include transition(opacity 150ms);
    }
}
