html {
    font-size: 14px;
    @media #{$small-all} {
        font-size: 15px;
    }
}

.filter div, .activity li {
    @include user-select(none);
}

.page-wrap {
    @include outer-container;
    &.slim {
        max-width: rem(840);
    }
    &.tiny {
        max-width: rem(480);
    }
    &.xtiny {
        max-width: rem(320);
    }
}
