html {
    font-size: 14px;
    @media #{$small-all} {
        font-size: 15px;
    }
}

body {
    @media #{$small-all}{
        padding-left: $gutter;
        padding-right: $gutter;
    }
}

.filter div, .activity li {
    @include user-select(none);
}

* {
    @media #{$small-all} {
        -webkit-tap-highlight-color: rgba(0,0,0,0);
    }
}

.page-wrap {
    @include outer-container;
    &.slim {
        max-width: $slim;
    }
    &.tiny {
        max-width: $tiny;
    }
    &.xtiny {
        max-width: $xtiny;
    }
}
.loader {
    $loader-height: rem(40);
    display: block;
    margin: 0 auto;
    width: $loader-height;
    height: $loader-height;
    background: $accent-color;
    border-radius: 50%;
    opacity: 0;
    @include transform(rotate(0deg) scale(1));
    @include transition(opacity 350ms);
    @include transform-origin(center center);
    @include animation(loader 1200ms);
    @include animation-iteration-count(infinite);
    &.show {
        opacity: 1;
        @include transition(opacity 150ms);
    }
}
a {
    @include transition(color 150ms);
    &:hover {
        color: $accent-color;
    }
}
hr {
    border: 0 !important;
    height: 2px;
    background: #DDD;
    border-top: 1px solid #EDEDED;
    max-width: 70%;
    margin-left: auto !important;
    margin-right: auto !important;
}