$icon-sizes: ('xsmall', 32px), ('small', 64px), ('medium', 96px), ('large', 128px);

$icons: (
    'analytics',
    'css',
    'email',
    'es6',
    'github',
    'grunt',
    'gulp',
    'html',
    'javascript',
    'linkedin',
    'medium',
    'npm',
    'python',
    'twitter',
    'yeoman',
    'ux',
    'photoshop',
    'illustrator',
    'react',
);

@mixin icon-size($dim) {
    height: $dim;
    width: $dim;
    margin-right: $dim*0.25;
    margin-bottom: $dim*0.25;
}

@mixin icon-size-class($size) {
    $d: nth($size, 2);

    &.i-size--#{nth($size, 1)} {
        @include icon-size($d);
    }
}

.icon {
    border-radius: 50%;
    position: relative;
    &:before {
        content: "";
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-repeat: no-repeat;
        background-size: 100%;
        background-position: center;
    }
    @each $ic in $icons {
        &.i-#{$ic}:before {
            background-image: url('/img/icons/icons_#{$ic}.svg')
        }
    }
    @each $size in $icon-sizes {
        @include icon-size-class($size);
    }
}
