$icon-xsmall: 32px;
$icon-small: 64px;
$icon-medium: 96px;
$icon-large: 128px;

$icons: (
    'analytics',
    'css',
    'email',
    'es6',
    'github',
    'grunt',
    'gulp',
    'html',
    'javascript',
    'linkedin',
    'medium',
    'npm',
    'python',
    'twitter',
    'yeoman',
    'ux',
    'photoshop',
    'illustrator',
    'react',
);

.icon {
    // display: inline-block;
    height: $icon-xsmall;
    width: $icon-xsmall;
    border-radius: 50%;
    position: relative;
    margin-right: $icon-xsmall;
    margin-bottom: $icon-xsmall;
    &:before {
        content: "";
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-repeat: no-repeat;
        background-size: 100%;
        background-position: center;
    }
    @each $ic in $icons {
        &.--i-#{$ic}:before {
            background-image: url('/img/icons/icons_#{$ic}.svg')
        }
    }
    &.--small {
        height: $icon-small;
        width: $icon-small;
    }
    &.--medium {
        height: $icon-medium;
        width: $icon-medium;
    }
    &.--large {
        height: $icon-large;
        width: $icon-large;
    }
}
