// Media object
.media {
    margin-bottom: 2*$magic;
}
.media, .bd {
    overflow: hidden; _overflow: visible; zoom: 1;
}
.media .img {
    float: left;
    margin-right: $magic;
}
.media .img img{ display:block; }

.bd p {
    margin-bottom: 0;
}
