@mixin scrollReveal($selector, $revealer, $number, $prop: opacity, $value: 0, $valueEnd: 1, $trans: "opacity 200ms", $delay: 100ms) {
    #{$selector} {
        #{$prop}: #{$value};
        transition: #{$trans};
    }

    #{$revealer} #{$selector} {
        #{$prop}: #{$valueEnd};
    }

    @for $i from 1 through $number {
        #{$revealer} #{$selector}:nth-child(#{$i}) {
            transition-delay: ($i - 1)*$delay;
        }
    }

}


@mixin scrollNudge {
    &:after {
        content: "\2329";
        display: block;
        font-size: 115px;
        color: $color-neutral-breaker;
        opacity: 0.2;
        transform: rotate(-90deg);
        text-align: center;
        position: relative;
        top: -80px;
        pointer-events: none;
    }
}


@mixin bgReset{
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}


@mixin inputReset {
    border: 0;
    outline: 0;
}
