// Fonts
$em-base: 14px;
$body-font-family: medioregular, Georgia, Times, 'Times New Roman', serif;
$heavy-font-family: League Spartan, 'Helvetica Neue', Helvetica, Arial, sans-serif;
$block-font-family: League Spartan, 'Helvetica Neue', Helvetica, Arial, sans-serif;

// $column: golden-ratio(1em, 3); // Column width
// $grid-columns: 12; // Total number of columns in the grid
// $border-box-sizing: true; // Makes all elements have a border-box layout
// $default-feature: min-width; // Default @media feature for the breakpoint() mixin
// $default-layout-direction: LTR;

// Dimensions
$gutter: 1rem;
$column: golden-ratio(1rem, 3);

$header-height: rem(64);

$round-icon-height: rem(64);
$icon-height: rem(48);
$button-height: rem(35);
$section-break: 4 * $gutter;

// Container widths
$max-width: rem(1200);
$slim: rem(840);
$tiny: rem(480);
$xtiny: rem(350);

// URLs
$static-url: "/static/";
$image-url: "#{$static-url}images/";
$fonts-url: "#{$static-url}fonts/";

// Break points
// $xsmall-break: 380;
// $small-break: 640;
// $medium-break: 1024;
// $large-break: 1440;