// -------------
// Typography
// -------------
$em-base: 16px;
$fontBase: 20px;
$fontBaseREM: rem(20px);

$base-font-family: 'Libre Baskerville', $helvetica;
$heavy-font-family: 'montserrat', $helvetica;
$display-font-family: 'League Spartan', $base-font-family;

$button-font-family: $heavy-font-family;
$button-font-weight: bold;
$navigation-font-family: $heavy-font-family;
$navigation-font-weight: 300;
$activities-font-family: $heavy-font-family;
$activities-font-weight: 500;
// $heavy-font-family: 'norwesterregular', $base-font-family;

// $base-font-family: 'PT Sans', $helvetica;
// $heavy-font-family: 'Open Sans', $base-font-family;

/**
Colours
*/
$color-primary: #3DE0BB;
$color-secondary: #f50057;
$color-neutral: #F7F7F7;
$color-neutral-breaker: #ABABAB;
$color-grey: #929292;
$color-link: #0089EA;
$color-linkVisited: lighten($color-link, 30);
$color-error: rgb(245, 62, 50);
$color-valid: rgb(98, 191, 86);
$color-soft-black: #202020;

// -------------
// Media Queries
// -------------
$xsmall-break: 380px;
$small-break: 640px;
$medium-break: 1024px;
$large-break: 1440px;

$xsmall-range: (0, $xsmall-break);
$small-range: ($xsmall-break + 1, $small-break);
$medium-range: ($small-break + 1, $medium-break);
$large-range: ($medium-break + 1, $large-break);
$xlarge-range: ($large-break + 1);


/**
@link https://github.com/zurb/bower-foundation/blob/master/scss/foundation/_settings.scss#L151
*/
$screen: "only screen";

$landscape: "#{$screen} and (orientation: landscape)";
$portrait: "#{$screen} and (orientation: portrait)";

$xsmall-only: "#{$screen} and (max-width: #{nth($xsmall-range, 2)})";

$small-up: "#{$screen} and (min-width:#{nth($small-range, 1)})";
$small-only: "#{$screen} and (min-width:#{nth($small-range, 1)}) and (max-width: #{nth($small-range, 2)})";
$small-all: "#{$screen} and (max-width: #{nth($small-range, 2)})";

$medium-down: "#{$screen} and (max-width:#{nth($medium-range, 2)})";
$medium-up: "#{$screen} and (min-width:#{nth($medium-range, 1)})";
$medium-only: "#{$screen} and (min-width:#{nth($medium-range, 1)}) and (max-width:#{nth($medium-range, 2)})";

$large-up: "#{$screen} and (min-width:#{nth($large-range, 1)})";
$large-only: "#{$screen} and (min-width:#{nth($large-range, 1)}) and (max-width:#{nth($large-range, 2)})";

$xlarge-up: "#{$screen} and (min-width:#{nth($xlarge-range, 1)})";
