body {
    font-size: rem(16);
    font-family: $body-font-family;
    line-height: rem(20);
    margin: 0 auto;
    color: $copy;
}
.header-1 {
    font-size: rem(59px);
    line-height: rem(60px);
    margin-top: rem(40px);
    margin-bottom: rem(20px);
}
.header-2 {
    font-size: rem(37px);
    line-height: rem(40px);
    margin-top: rem(40px);
    margin-bottom: rem(20px);
}
.header-3 {
    font-size: rem(23px);
    line-height: rem(40px);
    margin-top: rem(20px);
    margin-bottom: rem(20px);
}
.header-4 {
    font-size: rem(16px);
    line-height: 1.5;
    margin-top: rem(20px);
    margin-bottom: rem(20px);
}
.header-1, .header-2, .header-3 {
    font-family: $block-font-family;
}
p {
    max-width: rem(760);
}
a {
    text-decoration: none;
    color: inherit;
    outline: 0;
    @include transition(color 150ms);
    &:visited {
        color: currentcolor;
    }
}
.header-1 a, .header-2 a {
    color: $accent-color;
    &:hover {
        text-decoration: underline;
        color: darken($accent-color, 10);
    }
}
.header-3 a {
    color: $black;
    &:hover {
        color: $accent-color;
    }

}

.header-4, p {
    @include a-tag-highlight;
    a {
        font-size: rem(14);
    }
}
.btn, button, input[type="submit"] {
    font-size: rem(15);
}
.heavy {
    font-family: $heavy-font-family;
}
/* Sanitation */

p, ul, ol, pre, table, blockquote {
    margin-top: rem(20px);
    margin-bottom: rem(20px);
}
hr {
    border: 1px solid;
    margin: -1px 0;
}
ul ul, ol ol, ul ol, ol ul {
    margin-top: 0;
    margin-bottom: 0;
}
b, strong, em, small, code {
    line-height: 1;
}
sup, sub {
    vertical-align: baseline;
    position: relative;
    top: -0.4em;
}
sub {
    top: 0.4em;
}

h1, h2 {
    text-rendering: geometricPrecision;
}