/**
Vendor
*/
@import "reset";
@import "bourbon";
@import "scut";

/**
Settings & variables
*/
@import "settings";
@import "typography";

// Helpers
@import "mixins";
@import "forms_buttons";
@import "icons";
@import "junk";

// Components
@import "component/splash";
@import "component/about";
@import "component/activities";
@import "component/work";
@import "component/overlay";

/**
Custom resets
*/
html {
    box-sizing: border-box;
    background-color: rgb(249, 249, 249);
}

*, *:before, *:after {
    box-sizing: inherit;
}

main {
    position: relative;
    overflow: hidden;
}
