/**
Vendor
*/
@import "reset";
@import "bourbon";
@import "scut";

/**
Settings & variables
*/
@import "settings";
@import "typography";

// Helpers
@import "mixins";
@import "forms_buttons";
@import "icons";
@import "junk";

// Components
@import "component/splash";
@import "component/about";
@import "component/activities";
@import "component/work";
@import "component/overlay";
@import "component/navigation";

/**
Custom resets
*/
html {
    box-sizing: border-box;
    background-color: $color-neutral;
    @media #{$small-all} {
        font-size: 14px;
    }
}

*, *:before, *:after {
    box-sizing: inherit;
}

main {
    position: relative;
    overflow: hidden;
}

html:before {
    content: 'desktop';
    visibility: hidden;
    height: 0;
    width: 0;
    position: absolute;
    @media #{$medium-only} {
        content: 'tablet';
    }
    @media #{$small-all} {
        content: 'mobile';
    }
}

::selection {
    background: $color-secondary;
}

::-moz-selection {
    background: $color-secondary;
}

@media #{$small-all} {
    * { -webkit-tap-highlight-color: rgba(0,0,0,0); }
}
