@font-face {
    font-family: 'axis';
    src: url('../fonts/axis-webfont.eot');
    src: url('../fonts/axis-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/axis-webfont.woff2') format('woff2'),
         url('../fonts/axis-webfont.woff') format('woff'),
         url('../fonts/axis-webfont.ttf') format('truetype'),
         url('../fonts/axis-webfont.svg#axisbold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'slimjoe';
    src: url('../fonts/slim_joe-webfont.eot');
    src: url('../fonts/slim_joe-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/slim_joe-webfont.woff2') format('woff2'),
         url('../fonts/slim_joe-webfont.woff') format('woff'),
         url('../fonts/slim_joe-webfont.ttf') format('truetype'),
         url('../fonts/slim_joe-webfont.svg#slim_joeregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'bigjohn';
    src: url('../fonts/big_john-webfont.eot');
    src: url('../fonts/big_john-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/big_john-webfont.woff2') format('woff2'),
         url('../fonts/big_john-webfont.woff') format('woff'),
         url('../fonts/big_john-webfont.ttf') format('truetype'),
         url('../fonts/big_john-webfont.svg#big_johnregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'mohavebolditalic';
    src: url('../fonts/mohave-bold_italics-webfont.eot');
    src: url('../fonts/mohave-bold_italics-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/mohave-bold_italics-webfont.woff2') format('woff2'),
         url('../fonts/mohave-bold_italics-webfont.woff') format('woff'),
         url('../fonts/mohave-bold_italics-webfont.ttf') format('truetype'),
         url('../fonts/mohave-bold_italics-webfont.svg#mohavebold_italic') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'notoregular';
    src: url('../fonts/notosans-regular-webfont.eot');
    src: url('../fonts/notosans-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/notosans-regular-webfont.woff2') format('woff2'),
         url('../fonts/notosans-regular-webfont.woff') format('woff'),
         url('../fonts/notosans-regular-webfont.ttf') format('truetype'),
         url('../fonts/notosans-regular-webfont.svg#noto_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'notobold';
    src: url('../fonts/notosans-bold-webfont.eot');
    src: url('../fonts/notosans-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/notosans-bold-webfont.woff2') format('woff2'),
         url('../fonts/notosans-bold-webfont.woff') format('woff'),
         url('../fonts/notosans-bold-webfont.ttf') format('truetype'),
         url('../fonts/notosans-bold-webfont.svg#noto_sansbold') format('svg');
    font-weight: normal;
    font-style: normal;
}