/**
Import font-face
*/
$fonts-url: "../fonts/";

@font-face {
    font-family: 'League Spartan';
    src: url('#{$fonts-url}leaguespartan-bold-webfont.woff2') format('woff2'),
         url('#{$fonts-url}leaguespartan-bold-webfont.woff') format('woff'),
         url('#{$fonts-url}leaguespartan-bold-webfont.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Libre Baskerville';
    src: url('#{$fonts-url}librebaskerville-bold-webfont.woff2') format('woff2'),
         url('#{$fonts-url}librebaskerville-bold-webfont.woff') format('woff'),
         url('#{$fonts-url}librebaskerville-bold-webfont.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;

}

@font-face {
    font-family: 'Libre Baskerville';
    src: url('#{$fonts-url}librebaskerville-italic-webfont.woff2') format('woff2'),
         url('#{$fonts-url}librebaskerville-italic-webfont.woff') format('woff'),
         url('#{$fonts-url}librebaskerville-italic-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;

}

@font-face {
    font-family: 'Libre Baskerville';
    src: url('#{$fonts-url}librebaskerville-regular-webfont.woff2') format('woff2'),
         url('#{$fonts-url}librebaskerville-regular-webfont.woff') format('woff'),
         url('#{$fonts-url}librebaskerville-regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}


// @font-face {
//     font-family: 'norwesterregular';
//     src: url('#{$fonts-url}norwester-webfont.woff2') format('woff2'),
//          url('#{$fonts-url}norwester-webfont.woff') format('woff'),
//          url('#{$fonts-url}norwester-webfont.svg#norwesterregular') format('svg');
//     font-weight: normal;
//     font-style: normal;
// }


// @font-face {
//     font-family: 'montserrat';
//     src: url('#{$fonts-url}montserrat-black-webfont.woff2') format('woff2'),
//          url('#{$fonts-url}montserrat-black-webfont.woff') format('woff'),
//          url('#{$fonts-url}montserrat-black-webfont.svg#montserratblack') format('svg');
//     font-weight: 900;
//     font-style: normal;
//
// }
//
// @font-face {
//     font-family: 'montserrat';
//     src: url('#{$fonts-url}montserrat-bold-webfont.woff2') format('woff2'),
//          url('#{$fonts-url}montserrat-bold-webfont.woff') format('woff'),
//          url('#{$fonts-url}montserrat-bold-webfont.svg#montserratbold') format('svg');
//     font-weight: 700;
//     font-style: normal;
//
// }
//
// @font-face {
//     font-family: 'montserrat';
//     src: url('#{$fonts-url}montserrat-extrabold-webfont.woff2') format('woff2'),
//          url('#{$fonts-url}montserrat-extrabold-webfont.woff') format('woff'),
//          url('#{$fonts-url}montserrat-extrabold-webfont.svg#montserratextra_bold') format('svg');
//     font-weight: 800;
//     font-style: normal;
//
// }
//
// @font-face {
//     font-family: 'montserrat';
//     src: url('#{$fonts-url}montserrat-hairline-webfont.woff2') format('woff2'),
//          url('#{$fonts-url}montserrat-hairline-webfont.woff') format('woff'),
//          url('#{$fonts-url}montserrat-hairline-webfont.svg#montserrathairline') format('svg');
//     font-weight: 100;
//     font-style: normal;
//
// }
//
// @font-face {
//     font-family: 'montserrat';
//     src: url('#{$fonts-url}montserrat-light-webfont.woff2') format('woff2'),
//          url('#{$fonts-url}montserrat-light-webfont.woff') format('woff'),
//          url('#{$fonts-url}montserrat-light-webfont.svg#montserratlight') format('svg');
//     font-weight: 300;
//     font-style: normal;
//
// }
//
// @font-face {
//     font-family: 'montserrat';
//     src: url('#{$fonts-url}montserrat-regular-webfont.woff2') format('woff2'),
//          url('#{$fonts-url}montserrat-regular-webfont.woff') format('woff'),
//          url('#{$fonts-url}montserrat-regular-webfont.svg#montserratregular') format('svg');
//     font-weight: normal;
//     font-style: normal;
//
// }
//
// @font-face {
//     font-family: 'montserrat';
//     src: url('#{$fonts-url}montserrat-semibold-webfont.woff2') format('woff2'),
//          url('#{$fonts-url}montserrat-semibold-webfont.woff') format('woff'),
//          url('#{$fonts-url}montserrat-semibold-webfont.svg#montserratsemi_bold') format('svg');
//     font-weight: 600;
//     font-style: normal;
//
// }
//
// @font-face {
//     font-family: 'montserrat';
//     src: url('#{$fonts-url}montserrat-ultralight-webfont.woff2') format('woff2'),
//          url('#{$fonts-url}montserrat-ultralight-webfont.woff') format('woff'),
//          url('#{$fonts-url}montserrat-ultralight-webfont.svg#montserratultra_light') format('svg');
//     font-weight: normal;
//     font-style: normal;
//
// }
//
// @font-face {
//     font-family: 'kollektif';
//     src: url('#{$fonts-url}kollektif-webfont.woff2') format('woff2'),
//          url('#{$fonts-url}kollektif-webfont.woff') format('woff'),
//          url('#{$fonts-url}kollektif-webfont.svg#kollektifregular') format('svg');
//     font-weight: 400;
//     font-style: normal;
//
// }
//
//
// @font-face {
//     font-family: 'kollektif';
//     src: url('#{$fonts-url}kollektif-bold-webfont.woff2') format('woff2'),
//          url('#{$fonts-url}kollektif-bold-webfont.woff') format('woff'),
//          url('#{$fonts-url}kollektif-bold-webfont.svg#kollektifbold') format('svg');
//     font-weight: 700;
//     font-style: normal;
//
// }


// INDIVIDUALS
// @font-face {
//     font-family: 'montserratblack';
//     src: url('#{$fonts-url}montserrat-black-webfont.woff2') format('woff2'),
//          url('#{$fonts-url}montserrat-black-webfont.woff') format('woff'),
//          url('#{$fonts-url}montserrat-black-webfont.svg#montserratblack') format('svg');
//     font-weight: normal;
//     font-style: normal;
//
// }
//
//
//
//
// @font-face {
//     font-family: 'montserratbold';
//     src: url('#{$fonts-url}montserrat-bold-webfont.woff2') format('woff2'),
//          url('#{$fonts-url}montserrat-bold-webfont.woff') format('woff'),
//          url('#{$fonts-url}montserrat-bold-webfont.svg#montserratbold') format('svg');
//     font-weight: normal;
//     font-style: normal;
//
// }
//
//
//
//
// @font-face {
//     font-family: 'montserratextra_bold';
//     src: url('#{$fonts-url}montserrat-extrabold-webfont.woff2') format('woff2'),
//          url('#{$fonts-url}montserrat-extrabold-webfont.woff') format('woff'),
//          url('#{$fonts-url}montserrat-extrabold-webfont.svg#montserratextra_bold') format('svg');
//     font-weight: normal;
//     font-style: normal;
//
// }
//
//
//
//
// @font-face {
//     font-family: 'montserrathairline';
//     src: url('#{$fonts-url}montserrat-hairline-webfont.woff2') format('woff2'),
//          url('#{$fonts-url}montserrat-hairline-webfont.woff') format('woff'),
//          url('#{$fonts-url}montserrat-hairline-webfont.svg#montserrathairline') format('svg');
//     font-weight: normal;
//     font-style: normal;
//
// }
//
//
//
//
// @font-face {
//     font-family: 'montserratlight';
//     src: url('#{$fonts-url}montserrat-light-webfont.woff2') format('woff2'),
//          url('#{$fonts-url}montserrat-light-webfont.woff') format('woff'),
//          url('#{$fonts-url}montserrat-light-webfont.svg#montserratlight') format('svg');
//     font-weight: normal;
//     font-style: normal;
//
// }
//
//
//
//
// @font-face {
//     font-family: 'montserratregular';
//     src: url('#{$fonts-url}montserrat-regular-webfont.woff2') format('woff2'),
//          url('#{$fonts-url}montserrat-regular-webfont.woff') format('woff'),
//          url('#{$fonts-url}montserrat-regular-webfont.svg#montserratregular') format('svg');
//     font-weight: normal;
//     font-style: normal;
//
// }
//
//
//
//
// @font-face {
//     font-family: 'montserratsemi_bold';
//     src: url('#{$fonts-url}montserrat-semibold-webfont.woff2') format('woff2'),
//          url('#{$fonts-url}montserrat-semibold-webfont.woff') format('woff'),
//          url('#{$fonts-url}montserrat-semibold-webfont.svg#montserratsemi_bold') format('svg');
//     font-weight: normal;
//     font-style: normal;
//
// }
//
//
//
//
// @font-face {
//     font-family: 'montserratultra_light';
//     src: url('#{$fonts-url}montserrat-ultralight-webfont.woff2') format('woff2'),
//          url('#{$fonts-url}montserrat-ultralight-webfont.woff') format('woff'),
//          url('#{$fonts-url}montserrat-ultralight-webfont.svg#montserratultra_light') format('svg');
//     font-weight: normal;
//     font-style: normal;
//
// }

// @font-face {
//     font-family: 'montserrat';
//     src: url('#{$fonts-url}montserrat-black-webfont.woff2') format('woff2'),
//          url('#{$fonts-url}montserrat-black-webfont.woff') format('woff'),
//          url('#{$fonts-url}montserrat-black-webfont.svg#montserratblack') format('svg');
//     font-weight: 900;
//     font-style: normal;
//
// }
//
//
//
// @font-face {
//     font-family: 'montserrat';
//     src: url('#{$fonts-url}montserrat-extrabold-webfont.woff2') format('woff2'),
//          url('#{$fonts-url}montserrat-extrabold-webfont.woff') format('woff'),
//          url('#{$fonts-url}montserrat-extrabold-webfont.svg#montserratextra_bold') format('svg');
//     font-weight: 800;
//     font-style: normal;
//
// }


// @font-face {
//     font-family: 'montserrat';
//     src: url('#{$fonts-url}montserrat-bold-webfont.woff2') format('woff2'),
//          url('#{$fonts-url}montserrat-bold-webfont.woff') format('woff'),
//          url('#{$fonts-url}montserrat-bold-webfont.svg#montserratbold') format('svg');
//     font-weight: 700;
//     font-style: normal;
//
// }






// @font-face {
//     font-family: 'montserrat';
//     src: url('#{$fonts-url}montserrat-semibold-webfont.woff2') format('woff2'),
//          url('#{$fonts-url}montserrat-semibold-webfont.woff') format('woff'),
//          url('#{$fonts-url}montserrat-semibold-webfont.svg#montserratsemi_bold') format('svg');
//     font-weight: 500;
//     font-style: normal;
//
// }


// @font-face {
//     font-family: 'montserrat';
//     src: url('#{$fonts-url}montserrat-regular-webfont.woff2') format('woff2'),
//          url('#{$fonts-url}montserrat-regular-webfont.woff') format('woff'),
//          url('#{$fonts-url}montserrat-regular-webfont.svg#montserratregular') format('svg');
//     font-weight: 400;
//     font-style: normal;
//
// }




// @font-face {
//     font-family: 'montserrat';
//     src: url('#{$fonts-url}montserrat-light-webfont.woff2') format('woff2'),
//          url('#{$fonts-url}montserrat-light-webfont.woff') format('woff'),
//          url('#{$fonts-url}montserrat-light-webfont.svg#montserratlight') format('svg');
//     font-weight: 300;
//     font-style: normal;
//
// }



// @font-face {
//     font-family: 'montserrat';
//     src: url('#{$fonts-url}montserrat-ultralight-webfont.woff2') format('woff2'),
//          url('#{$fonts-url}montserrat-ultralight-webfont.woff') format('woff'),
//          url('#{$fonts-url}montserrat-ultralight-webfont.svg#montserratultra_light') format('svg');
//     font-weight: 200;
//     font-style: normal;
//
// }


// @font-face {
//     font-family: 'montserrat';
//     src: url('#{$fonts-url}montserrat-hairline-webfont.woff2') format('woff2'),
//          url('#{$fonts-url}montserrat-hairline-webfont.woff') format('woff'),
//          url('#{$fonts-url}montserrat-hairline-webfont.svg#montserrathairline') format('svg');
//     font-weight: 100;
//     font-style: normal;
//
// }
