/**
Import font-face
*/
$fonts-url: "../fonts/";

@font-face {
    font-family: 'League Spartan';
    src: url('#{$fonts-url}leaguespartan-bold-webfont.woff2') format('woff2'),
         url('#{$fonts-url}leaguespartan-bold-webfont.woff') format('woff'),
         url('#{$fonts-url}leaguespartan-bold-webfont.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}


@font-face {
    font-family: 'Butler';
    src: url('#{$fonts-url}butler_ultra_light-webfont.eot');
    src: url('#{$fonts-url}butler_ultra_light-webfont.eot?#iefix') format('embedded-opentype'),
         url('#{$fonts-url}butler_ultra_light-webfont.woff2') format('woff2'),
         url('#{$fonts-url}butler_ultra_light-webfont.woff') format('woff'),
         url('#{$fonts-url}butler_ultra_light-webfont.ttf') format('truetype'),
         url('#{$fonts-url}butler_ultra_light-webfont.svg#butlerultralight') format('svg');
    font-weight: 100;
    font-style: normal; 
}

// @font-face {
//     font-family: 'Butler';
//     src: url('#{$fonts-url}butler_light-webfont.eot');
//     src: url('#{$fonts-url}butler_light-webfont.eot?#iefix') format('embedded-opentype'),
//          url('#{$fonts-url}butler_light-webfont.woff2') format('woff2'),
//          url('#{$fonts-url}butler_light-webfont.woff') format('woff'),
//          url('#{$fonts-url}butler_light-webfont.ttf') format('truetype'),
//          url('#{$fonts-url}butler_light-webfont.svg#butlerlight') format('svg');
//     font-weight: 300;
//     font-style: normal;
//
// }

@font-face {
    font-family: 'Butler';
    src: url('#{$fonts-url}butler_regular-webfont.eot');
    src: url('#{$fonts-url}butler_regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('#{$fonts-url}butler_regular-webfont.woff2') format('woff2'),
         url('#{$fonts-url}butler_regular-webfont.woff') format('woff'),
         url('#{$fonts-url}butler_regular-webfont.ttf') format('truetype'),
         url('#{$fonts-url}butler_regular-webfont.svg#butlerregular') format('svg');
    font-weight: normal;
    font-style: normal;
}


// @font-face {
//     font-family: 'Butler';
//     src: url('#{$fonts-url}butler_medium-webfont.eot');
//     src: url('#{$fonts-url}butler_medium-webfont.eot?#iefix') format('embedded-opentype'),
//          url('#{$fonts-url}butler_medium-webfont.woff2') format('woff2'),
//          url('#{$fonts-url}butler_medium-webfont.woff') format('woff'),
//          url('#{$fonts-url}butler_medium-webfont.ttf') format('truetype'),
//          url('#{$fonts-url}butler_medium-webfont.svg#butlermedium') format('svg');
//     font-weight: 600;
//     font-style: normal;
//
// }

@font-face {
    font-family: 'Butler';
    src: url('#{$fonts-url}butler_bold-webfont.eot');
    src: url('#{$fonts-url}butler_bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('#{$fonts-url}butler_bold-webfont.woff2') format('woff2'),
         url('#{$fonts-url}butler_bold-webfont.woff') format('woff'),
         url('#{$fonts-url}butler_bold-webfont.ttf') format('truetype'),
         url('#{$fonts-url}butler_bold-webfont.svg#butlerbold') format('svg');
    font-weight: 700;
    font-style: normal;
}

// @font-face {
//     font-family: 'Butler';
//     src: url('#{$fonts-url}butler_extrabold-webfont.eot');
//     src: url('#{$fonts-url}butler_extrabold-webfont.eot?#iefix') format('embedded-opentype'),
//          url('#{$fonts-url}butler_extrabold-webfont.woff2') format('woff2'),
//          url('#{$fonts-url}butler_extrabold-webfont.woff') format('woff'),
//          url('#{$fonts-url}butler_extrabold-webfont.ttf') format('truetype'),
//          url('#{$fonts-url}butler_extrabold-webfont.svg#butlerextrabold') format('svg');
//     font-weight: 800;
//     font-style: normal;
// }
//
// @font-face {
//     font-family: 'Butler';
//     src: url('#{$fonts-url}butler_black-webfont.eot');
//     src: url('#{$fonts-url}butler_black-webfont.eot?#iefix') format('embedded-opentype'),
//          url('#{$fonts-url}butler_black-webfont.woff2') format('woff2'),
//          url('#{$fonts-url}butler_black-webfont.woff') format('woff'),
//          url('#{$fonts-url}butler_black-webfont.ttf') format('truetype'),
//          url('#{$fonts-url}butler_black-webfont.svg#butlerblack') format('svg');
//     font-weight: 900;
//     font-style: normal;
//
// }
