/**
Import font-face
*/
$fonts-url: "../fonts/";

@font-face {
    font-family: 'League Spartan';
    src: url('#{$fonts-url}leaguespartan-bold-webfont.woff2') format('woff2'),
         url('#{$fonts-url}leaguespartan-bold-webfont.woff') format('woff'),
         url('#{$fonts-url}leaguespartan-bold-webfont.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Libre Baskerville';
    src: url('#{$fonts-url}librebaskerville-bold-webfont.woff2') format('woff2'),
         url('#{$fonts-url}librebaskerville-bold-webfont.woff') format('woff'),
         url('#{$fonts-url}librebaskerville-bold-webfont.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;

}

@font-face {
    font-family: 'Libre Baskerville';
    src: url('#{$fonts-url}librebaskerville-italic-webfont.woff2') format('woff2'),
         url('#{$fonts-url}librebaskerville-italic-webfont.woff') format('woff'),
         url('#{$fonts-url}librebaskerville-italic-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;

}

@font-face {
    font-family: 'Libre Baskerville';
    src: url('#{$fonts-url}librebaskerville-regular-webfont.woff2') format('woff2'),
         url('#{$fonts-url}librebaskerville-regular-webfont.woff') format('woff'),
         url('#{$fonts-url}librebaskerville-regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}
