@mixin animation-base {
    @include animation-fill-mode(forwards);
    @include animation-timing-function($ease-out-quint);
}

@include keyframes(fadein) {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@include keyframes(grow-in) {
    from {
        @include transform(scale(0));
    }
    to {
        @include transform(none);
    }
}

.grow-in {
    will-change: transform, opacity;
    @include animation(grow-in 350ms, fadein 150ms);
    @include animation-base;
}

@include keyframes(transform-reset) {
    to {
        @include transform(none);
    }
}

@include keyframes(screw-scale-in) {
    from {
        @include transform(rotate(-60deg) scale(2));
    }
    to {
        @include transform(none);
    }
}

@include keyframes(loader){
    0% {
        background: $accent-color;
        border-radius: 50%;
        @include transform(rotate(0deg) scale(1));
    }
    50% {
        background: $primary-color;
        border-radius: 0%;
        // border-radius: 0%;
        // @include transform(rotate(180deg) scale(1, 0.33));
        @include transform(rotate(180deg) scale(0.33, 0.33));
    }
    75% {
        border-radius: 50%;
    }
    100% {
        border-radius: 50%;
        background: $accent-color;
        @include transform(rotate(360deg) scale(1));
    }
}