$primary-color: #FAA630;
$accent-color: #f50057;

$light-grey: #f9f9f9;
$mild-grey: darken($light-grey, 15);
$dark-grey: darken($light-grey, 25);

$neutral: #e5e5e5;
$neutral-darker: darken($neutral, 5);
$neutral-lighter: #e5e5e5;

$flat-button: #d6d6d6;

$black: #2e2e2e;

$error-color: #F44336 !default;
$valid-color: #53BC89 !default;

$copy: hsla(0,0%,0%,.87);
$copy-secondary: hsla(0,0%,0%,.54);

/**
Languages
*/
$python: (
    color: #82b043,
    name: "python",
);
$javascript: (
    color: #FFAE19,
    name: "javascript",
);
$grunt: (
    color: #e48632,
    name: "grunt",
);
$scss: (
    color: #1973FF,
    name: "scss",
);
$html: (
    color: #FF1919,
    name: "html",
);

$languages: $python $javascript $grunt $scss $html;


/**
Shadows
@link https://material.angularjs.org/#/material.components.whiteframe/readme/overview
*/
$shadow-depth-1: 0 2px 5px 0 rgba(0,0,0,.26);
$shadow-depth-2: 0 8px 17px rgba(0,0,0,.2);
$shadow-depth-3: 0 17px 50px rgba(0,0,0,.19);
$shadow-depth-4: 0 16px 28px 0 rgba(0,0,0,.22);
$shadow-depth-5: 0 27px 24px 0 rgba(0,0,0,.2);