// $primary-color: #FAA630;
$primary-color: #3DE0BB;
$accent-color: #f50057;

$grey: lightgray;
$grey-darker: #717171;
$grey-lighter: #f9f9f9;

$neutral: #e5e5e5;
$neutral-darker: darken($neutral, 5);
$neutral-lighter: lighten($neutral, 5);

$flat-button: #d6d6d6;

$black: #2e2e2e;
$black-lighter: lighten($black, 10);
$black-darker: darken($black, 10);

$error-color: #F44336 !default;
$valid-color: #53BC89 !default;

$copy: hsla(0,0%,0%,.87);
$copy-secondary: hsla(0,0%,0%,.54);

/**
Languages
*/
$python: (
    color: #82b043,
    name: "python",
);
$django: (
    color: #0C4B33,
    name: "django",
);
$javascript: (
    color: #FFAE19,
    name: "javascript",
);
$grunt: (
    color: #e48632,
    name: "grunt",
);
$scss: (
    color: #1973FF,
    name: "scss",
);
$css3: (
    color: #49005C,
    name: "css3",
);
$html: (
    color: #FF1919,
    name: "html",
);
$sitebuilds: (
    color: #0047B2,
    name: "site-builds",
);
$performance: (
    color: #00CCCC,
    name: "performance",
);
$ux: (
    color: #9999FF,
    name: "ux",
);
$design: (
    color: #CC0066,
    name: "design",
);
$yeoman: (
    color: #422100,
    name: "yeoman",
);
$devops: (
    color: #669999,
    name: "devops",
);
$express: (
    color: #FF1919,
    name: "express",
);

$languages: $python $javascript $grunt $scss $html $sitebuilds $css3 $performance $design $ux $yeoman $django $devops $express;


/**
Shadows
@link https://material.angularjs.org/#/material.components.whiteframe/readme/overview
*/
$shadow-depth-1: 0 2px 5px 0 rgba(0,0,0,.26);
$shadow-depth-2: 0 8px 17px rgba(0,0,0,.2);
$shadow-depth-3: 0 17px 50px rgba(0,0,0,.19);
$shadow-depth-4: 0 16px 28px 0 rgba(0,0,0,.22);
$shadow-depth-5: 0 27px 24px 0 rgba(0,0,0,.2);