@mixin icon-medium {
    background-color: black;
    background-image:url("#{$image-url}logos/medium-wh.svg");
}

@mixin icon-github {
    background-size: 104%;
    background-color: #FFF;
    background-image: url("#{$image-url}logos/github.svg");
}

@mixin icon-twitter {
    background-color: #4099FF;
    background-image: url("#{$image-url}logos/twitter.svg");
}

@mixin icon-work {
    background-image: url("#{$image-url}icons/work.svg");
}

@mixin icon-work-wh {
    background-image: url("#{$image-url}icons/work-wh.svg");
}

@mixin icon-home-wh {
    background-image: url("#{$image-url}icons/home-wh.svg");
}

@mixin icon-linkedin-wh {
    background-image: url("#{$image-url}logos/linkedin-wh.svg");
}

.icon {
    height: $icon-height;
    width: $icon-height;
    display: inline-block;
    @media #{$small-all} {
        height: $icon-height * 0.7;
        width: $icon-height * 0.7;
    }
}

.round-icon {
    @include round-image("", $round-icon-height);
    background-size: 50%;
    position: relative;
    @media #{$small-all} {
        height: $round-icon-height * 0.80;
        width: $round-icon-height * 0.80;
    }
    span {
        color: $black;
        font-family: $heavy-font-family;
        padding-top: 3px;
        @include scut-center-transform;
        @media #{$small-all} {
            font-size: rem(14);
        }
    }
}

.icon, .round-icon {
    background-position: center center;
    background-repeat: no-repeat;
    z-index: 1;
    @include user-select(none);
}



.icon, .round-icon {
    &.raise {
        box-shadow: $shadow-depth-1;
        cursor: pointer;
        will-change: box-shadow;
        @include transition(box-shadow 250ms $ease-out-quint, background-color 250ms $ease-out-quint);
    }
    &.medium {
        @include icon-medium;
    }
    &.twitter {
        @include icon-twitter;
    }
    &.github {
        @include icon-github;
    }
    &.right-arrow {
        background-color: $black;
        background-image: url("#{$image-url}icons/arrow-forward.svg");
    }
    &.left-arrow {
        background-color: $black;
        background-image: url("#{$image-url}icons/arrow-back.svg");
    }
    &.preview {
        background-color: $primary-color;
        background-image: url("#{$image-url}icons/preview.svg");
    }
    &.more-dots {
        background-image: url("#{$image-url}icons/more-dots.svg");
    }
    &.more-dots-wh {
        background-color: $black;
        background-image: url("#{$image-url}icons/more-dots-wh.svg");
    }
    &.control {
        background-color: $neutral;
        background-image: url("#{$image-url}icons/filter.svg");
    }
    &.view-dates {
        background-image: url("#{$image-url}icons/view-dates.svg");
    }
    &.view-list {
        background-image: url("#{$image-url}icons/view-list.svg");
    }
    &.link {
        background-image: url("#{$image-url}icons/link.svg");
    }
    &.link-wh {
        background-color: $black;
        background-image: url("#{$image-url}icons/link-wh.svg");
    }
    &.mywork {
        background-color: $black;
        &:hover:before {
            display: none;
        }
        &:before {
            content: "W";
            color: $primary-color;
            font-family: $block-font-family;
            font-size: rem(32);
            padding-top: rem(12);
            @include scut-center-transform;
            @media #{$small-all} {
                font-size: rem(22);
            }
        }
    }
}


@each $lang in $languages {
    $c: map-get($lang, color);
    $n: map-get($lang, name);
    .#{$n} {
        background-color: $c;
    }
    .#{$n}-light {
        background-color: returnlightershade($c);
    }
    .#{$n}-color {
        color: $c;
    }
    .#{$n}-border {
        border: 1px solid $c;
    }
}
