@mixin icon-medium {
    background-color: black;
    background-image:url("/images/logos/medium-wh.svg");
}

@mixin icon-github {
    background-size: 100%;
    background-color: #FFF;
    background-image:url("#{$image-url}logos/github.svg");
}

@mixin icon-twitter {
    background-color: #4099FF;
    background-image:url("#{$image-url}logos/twitter.svg");
}

.round-icon {
    @include round-image("", $activity-source-height);
    background-size: 50%;
    position: relative;
    z-index: 1;
    @media #{$small-all} {
        height: $activity-source-height * 0.7;
        width: $activity-source-height * 0.7;
    }
    &.medium {
        @include icon-medium;
    }
    &.twitter {
        @include icon-twitter;
    }
    &.github {
        @include icon-github;
    }
    &.more-dots-gr {
        background-image: url("#{$image-url}icons/more-dots-gr.svg");
    }
    &.control {
        background-image: url("#{$image-url}icons/filter-wh.svg");
    }
}

