@mixin icon-medium {
    background-color: black;
    background-image:url("/images/logos/medium-wh.svg");
}

@mixin icon-github {
    background-size: 104%;
    background-color: #FFF;
    background-image:url("#{$image-url}logos/github.svg");
}

@mixin icon-twitter {
    background-color: #4099FF;
    background-image:url("#{$image-url}logos/twitter.svg");
}

.icon {
    height: $icon-height;
    width: $icon-height;
    display: inline-block;
    @media #{$small-all} {
        height: $icon-height * 0.7;
        width: $icon-height * 0.7;
    }
}

.round-icon {
    @include round-image("", $round-icon-height);
    background-size: 50%;
    position: relative;
    @media #{$small-all} {
        height: $round-icon-height * 0.7;
        width: $round-icon-height * 0.7;
    }
    span {
        color: $black;
        font-family: $heavy-font-family;
        @include scut-center-transform;
    }
}

.icon, .round-icon {
    background-position: center center;
    background-repeat: no-repeat;
    z-index: 1;
    @include user-select(none);
}



.icon, .round-icon {
    &.medium {
        @include icon-medium;
    }
    &.twitter {
        @include icon-twitter;
    }
    &.github {
        @include icon-github;
    }
    &.right-arrow {
        background-color: $black;
        background-image: url("#{$image-url}icons/arrow-forward.svg");
    }
    &.left-arrow {
        background-color: $black;
        background-image: url("#{$image-url}icons/arrow-back.svg");
    }
    &.preview {
        background-color: $primary-color;
        background-image: url("#{$image-url}icons/preview.svg");
    }
    &.more-dots {
        background-image: url("#{$image-url}icons/more-dots.svg");
    }
    &.more-dots-wh {
        background-color: $black;
        background-image: url("#{$image-url}icons/more-dots-wh.svg");
    }
    &.control {
        background-image: url("#{$image-url}icons/filter.svg");
    }
    &.view-dates {
        background-image: url("#{$image-url}icons/view-dates.svg");
    }
    &.view-list {
        background-image: url("#{$image-url}icons/view-list.svg");
    }
    &.python, &.javascript {
        cursor: default;
        span {
            color: white;
            font-size: rem(26);
        }
    }
    &.scss, &.html {
        cursor: default;
        span {
            color: white;
            font-size: rem(20);
        }
    }
    &.grunt {
        cursor: default;
        span {
            color: white;
            font-size: rem(16);
        }
        &.gr-shrt {
            span {font-size: rem(26);}
        }
    }
    &.html {
        span {
            font-size: rem(17);
        }
    }
}


@each $lang in $languages {
    $c: map-get($lang, color);
    $n: map-get($lang, name);
    .#{$n} {
        background-color: $c;
    }
    .#{$n}-light {
        color: $c;
        background-color: returnlightershade($c);
    }
}

// .scss {
//     background-color: $col-scss;
// }

// .grunt {
//     background-color: $col-grunt;
// }

// .html {
//     background-color: $col-html;
// }

// .python {
//     background-color: $col-python;
// }

// .javascript {
//     background-color: $col-javascript;
// }
