/**
Media query break points.
*/
$xsmall-break: 380 !default;
$small-break: 640 !default;
$medium-break: 1024 !default;
$large-break: 1440 !default;


/**
Media query ranges based on the break points provided.
@private
*/
$xsmall-range: (0rem, rem($xsmall-break)) !default;
$small-range: (rem($xsmall-break + 1), rem($small-break)) !default;
$medium-range: (rem($small-break + 1), rem($medium-break)) !default;
$large-range: (rem($medium-break + 1), rem($large-break)) !default;
$xlarge-range: (rem($large-break + 1)) !default;

/**
Necessary functions for media queries to be built
@link https://github.com/zurb/foundation/blob/master/scss/foundation/_functions.scss
*/
@function lower-bound($range){
  @if length($range) <= 0 {
    @return 0;
  }
  @return nth($range,1);
}

@function upper-bound($range) {
  @if length($range) < 2 {
    @return 999999999999;
  }
  @return nth($range, 2);
}

/**
Foundation style declarations of media queries.
@example
  .class {
    @media #{\$small-only} {
      ... My styles for small ...
    }
  }
@link https://github.com/zurb/foundation/blob/master/scss/foundation/_settings.scss
*/
$screen: "only screen" !default;

$landscape: "#{$screen} and (orientation: landscape)" !default;
$portrait: "#{$screen} and (orientation: portrait)" !default;

$xsmall-only: "#{$screen} and (max-width: #{upper-bound($xsmall-range)})" !default;

$small-up: "#{$screen} and (min-width:#{lower-bound($small-range)})" !default;
$small-only: "#{$screen} and (min-width:#{lower-bound($small-range)}) and (max-width: #{upper-bound($small-range)})" !default;
$small-all: "#{$screen} and (max-width: #{upper-bound($small-range)})" !default;

$medium-up: "#{$screen} and (min-width:#{lower-bound($medium-range)})" !default;
$medium-only: "#{$screen} and (min-width:#{lower-bound($medium-range)}) and (max-width:#{upper-bound($medium-range)})" !default;

$large-up: "#{$screen} and (min-width:#{lower-bound($large-range)})" !default;
$large-only: "#{$screen} and (min-width:#{lower-bound($large-range)}) and (max-width:#{upper-bound($large-range)})" !default;

$xlarge-up: "#{$screen} and (min-width:#{lower-bound($xlarge-range)})" !default;