@mixin round-image($url, $dimensions: rem(64)) {
    height: $dimensions;
    width: $dimensions;
    border-radius: 50%;
    background-image: url(#{$url});
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

@mixin a-tag-reset {
    a {
        text-decoration: none;
        color: inherit;
        font: inherit;
    }
}

@mixin a-tag-highlight {
    a {
        padding: 0 3px 1px 3px;
        background-color: #E2E2E2;
        text-decoration: none;
        font-family: $heavy-font-family;
        color: $copy;
        @include transition(background-color 150ms);
        &:hover {
            color: $copy;
            background-color: transparentize($primary-color, 0.72);
        }
    }
}