@mixin round-image($url, $dimensions: rem(64)) {
  height: $dimensions;
  width: $dimensions;
  border-radius: 50%;
  background-image: url(#{$url});
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}